<section class="navigation-buttons-container">
    <nav class="navigation-buttons">
        <button class="nav-button button-green">
            <a [routerLink]="['/presentation-solutions']">Conheça nossas Soluções</a>
        </button>
        <button class="nav-button button-orange">
            <a [routerLink]="['/presentation']">Vídeos Demonstrativos</a>
        </button>
        <button class="nav-button button-blue">
            <a [routerLink]="['/contact']">Agende uma Demonstração</a>
        </button>
        <button class="nav-button button-green">
            <a [routerLink]="['/contact']">Fale Conosco Agora</a>
        </button>
    </nav>
</section>