<section class="navigation-buttons-container">
    <nav class="navigation-buttons">
        <button class="nav-button button-green">
            <a [routerLink]="['/solutions']" routerLinkActive="active" ariaCurrentWhenActive="page">Conheça nossas Soluções</a>
        </button>
        <button class="nav-button button-orange">
            <a [routerLink]="['/presentation']" routerLinkActive="active" ariaCurrentWhenActive="page">Vídeos Demonstrativos</a>
        </button>
        <button class="nav-button button-blue">
            <a [routerLink]="['/contact']" routerLinkActive="active" ariaCurrentWhenActive="page">Agende uma Demonstração</a>
        </button>
        <button class="nav-button button-green">
            <a [routerLink]="['/contact']" routerLinkActive="active" ariaCurrentWhenActive="page">Fale Conosco Agora</a>
        </button>
    </nav>
</section>