.navigation-buttons-container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 2%;

  .navigation-buttons {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 24px;

    .nav-button {
      display: flex;

      justify-content: center;
      align-items: center;

      border: none;

      background-color: transparent;

      a {
        width: 200px;
        height: 48px;
        
        padding: 18px;

        border-radius: 5px;

        display: flex;

        justify-content: center;
        align-items: center;

        font-size: 18px;
        font-weight: 700;

        text-align: center;
        
        background-color: #031D4C;
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .navigation-buttons {
      flex-wrap: wrap;

      .nav-button {
        width: 100%;
      }
    }
  }
}
