.navigation-buttons-container {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  display: flex;

  justify-content: center;
  align-items: center;

  padding: 2%;

  .navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;

    .nav-button {
      border-radius: 5px;

      height: 80px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: none;

      > a {
        margin: 5%;

        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
      }
    }

    .button-color {
      background-color: #db6216;
    }
  }

  @media screen and (max-width: 600px) {
    .navigation-buttons {
      flex-wrap: wrap;

      .nav-button {
        width: 100%;
      }
    }
  }
}
