<main>
  <app-solutions-title>
    <h1 class="title-top">Impostos e Fiscal – Sped</h1>
  </app-solutions-title>

  <app-reduced-top-content>
    <img style="max-width: 400px;"
      src="assets/images/webp/Imposto-Fiscal.webp"
      alt="Uma mulher loira com roupa social fazendo anotações em um caderno grande, e um notebook ao lado"
      class="image"
    />
    <h2 class="right-title">
      Sobre o sped e bloco K conheça parte dos recursos disponíveis.
    </h2>
    <ul class="right-list">
      <li>
        Sirius Sped Bloco K pode ser utilizado separadamente ou de forma
        integrada ao seu sistema.
      </li>
      <li>
        O Sirius possui um dos mais avançados métodos de cálculos de impostos,
        seja de entrada ou saída de produtos. Também é possível entregar o Sped
        Fiscal a partir do Sirius.
      </li>
      <li>
        Sistema completo que facilita os processos fiscais de qualquer empresa,
        seja comércio, indústria, distribuição ou atacado. Atende a qualquer
        segmento do mercado. O Sirius Sped Fiscal e Bloco K está em constante
        atualização. Disponibilizamos as melhores e mais avançadas tecnologias
        para atender de forma prática a qualquer tipo de empresa, seja de micro,
        pequeno e médio porte.
      </li>
      <li>
        Possuímos ainda o Sistema completo Sirius ERP sistema que pode ser
        integrado ao bloco K.
      </li>
      <li>Captura do arquivo XML</li>
      <li>Atribuição automática das CFOP'S de entrada</li>
      <li>Atribuição automática das CST'S do ICMS, IPI, PIS E COFINS</li>
      <li>Geração do arquivo Sped para envio a SEFAZ</li>
      <li>Geração do arquivo Sped para envio a sua contabilidade</li>
      <li>Preparado para entrega do bloco K (produção)</li>
      <li>
        Geração de livro fiscal para conferência com livro da contabilidade
      </li>
      <li>Conversão das unidades de medida (compra x venda)</li>
      <li>Rateio de impostos e muito mais</li>
      <li>Sem contrato de fidelidade para planos mensais.</li>
    </ul>
  </app-reduced-top-content>

  <app-videos-presentation></app-videos-presentation>

  <app-buttons-to-know-more></app-buttons-to-know-more>

  <app-services-category></app-services-category>
  <app-cards-category-navigation></app-cards-category-navigation>
</main>
