<main>
    <app-top-content>

        <h1 class="title">Equipamento SAT</h1>

        <!--Side Images-->
        <img class="image-top" src="assets/images/webp/sat-equipment.jpg"
            alt="imagem de um equipamento de sat">
        <img class="image-bottom" src="assets/images/webp/retail.webp"
            alt="Uma mulher cartoon, loira, vestindo avental vermelho e roupas brancas, de cabelo preso, no centro da imagem, com diversas soluções em sua volta. Acima uma nuvem e computadores ligados a ela escrito: 'Gestão de Loja Via Internet', seguindo no sentido horário uma impressora de nota fiscal e um servidor escrito: 'Integrado com S@T Fiscal e Nota Fiscal Paulista'">

        <!--Right Content-->
        <h2 class="right-title">Equipamento SAT</h2>

    </app-top-content>

    <app-videos-presentation></app-videos-presentation>
    <app-buttons-to-know-more></app-buttons-to-know-more>
    <app-videos-sat></app-videos-sat>

    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>

</main>
