<section class="entry-container">
  <div class="entry-left-text">
    <div class="entry-text">
      <div class="entry-title">
        <h1>Sistema Sirius ERP<br>Gestão Empresarial</h1>
      </div>
      <ul class="entry-list">
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Atendemos Indústria, Atacado, Varejo, Serviços e Transportadores.</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Pacotes básicos ou avançados: Fiscal, Financeiro, Produção, Compras, Vendas, Sped e afins.</p>
        </li>
        <li>
          <i class="fa-solid fa-check"></i>
          <p>Pacotes a partir de R$359,90 mensais. Condições especiais para pacotes anuais</p>
        </li>
      </ul>
    </div>
    <div class="entry-buttons">
      <button class="button-contract">
        <p>CONTRATAR</p>
      </button>
      <button class="button-know-more">
        <p>SAIBA MAIS</p>
      </button>
    </div>
  </div>
  <div class="entry-image-right">
    <img src="assets/images/webp/erp-computers.webp" alt="imagem com um notebook escrito ERP na tela, e rodeado de um simbolo de engrenagens, um grafico de seta indicando aumento, um grafico de barras indicando aumento, um grafico pizza com mais da metade, uma calculadora, uma carta e o simbolo de duas pessoas">
  </div>
  <div class="entry-images-container">
    <div class="entry-image">
      <img src="assets/images/webp/Quadrado-Sat.webp" alt="imagem com um caixa de supermercado e um atendente com linhas saindo dele, uma pra cima conectado com uma nuvem com notebooks e celulares penduraros,
      uam diagonal direita conectado a um equipamento sat, a diagonal pra baixo direita conectada a maos usando um celular, linha pra baixo conectada a uma maquininha de cartao, linha diagonal pra baixo esquerda conectada os simbolo de Nota fiscal, linha diagonal pra cima esquerda conectada  a um carrinho de compras, abaixo do caixa esta escrito Sirius Sat Varejo pacotes a partir de R$ 127 reais mensais, descontos de 30% para pacotes anuais, consulte condições">
    </div>
    <div class="entry-image">
      <img src="assets/images/webp/Quadrado-NFE.webp" alt="imagem com simbolo de Nota fiscal e abaixo esta escrito pacotes para NFE. pacotes a partir de R$ 82,90 reais mensais, descontos de 30% para pacotes anuais, consulte condições ">
    </div>
    <div class="entry-image">
      <img src="assets/images/webp/Quadrado-Bloco-K-e-Sped.webp" alt="imagem escrita Bloco-K-e-Sped, abaixo excrito Consulte condições e valores. Permite integração com seu sistema">
    </div>
    <div class="entry-image">
      <img src="assets/images/webp/Quadrado-Desenvolvedor.webp" alt="imagem escrito acima: Desenvolvedor. Abaixo um desenho de um homem usando um computador sobre uma mesa e sentado em uma cadeira. Abaixo esta escrito Integre o recurso SAT/NFC-e/NF-e ao seu sistema!">
    </div>
  </div>
</section>
