<section class="video-mid-container">
    <div class="videos-container">
        <div class="video-container">
            <div class="video-header">
                <h2>SOFT CLEVER NA MÍDIA</h2>
                <ng-content selector="video-title"></ng-content>
                <p>Reportagem exibida na Band News</p>
            </div>
            <div class="video vimeo">
                <div class="vimeo-thumbnail">
                    <img src="assets/images/webp/vimeo-bandnews-thumb.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>