<div class="box-videos">
    <div class="video">
        <p>Veja como vender em qualquer tipo de comércio com o Sirius S@T em apenas 35 segundos.</p>
        <iframe class="iframe-in-box" width="360" height="202,50"
            src="https://www.youtube.com/embed/6xbFubL6nPA?rel=0&showinfo=0" title="Sirius S@T" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="video">
        <p>Veja como fazer uma venda delivery e imprimir um cupom S@T em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="360" height="202,50"
            src="https://www.youtube.com/embed/iWLpc4fQjkU?rel=0&showinfo=0" title="Sirius S@T" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="video">
        <p>Veja como abrir e fechar uma comanda/mesa e imprimir um cupom S@T em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="360" height="202,50"
            src="https://www.youtube.com/embed/4z_eSGJB6Bs?rel=0&showinfo=0" title="Sirius Pré - Venda" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="video">
        <p>Veja como fazer uma venda em um celular e imprimir um cupom S@T em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="360" height="202,50" src="https://www.youtube.com/embed/dVi0Su1I_n4"
            title="Comercial Sirius APP Comandas" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="video">
        <p>Conheça o Sirius APP Pré-venda integrado ao Sirius S@T.</p>
        <iframe class="iframe-in-box" width="360" height="202,50" src="https://www.youtube.com/embed/nKskQcPUWIA"
            title="Sirius APP Pré-Vendas" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>

    <div class="video">
        <p>Veja como fazer uma comanda em um celular e imprimir um cupom S@T em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="360" height="202,50" src="https://www.youtube.com/embed/2x-af6yyQ3I"
            title="Sirius Cielo Lio" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="video">
        <p>Veja como fazer uma comanda em um celular e imprimir um cupom S@T em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="360" height="202,50" src="https://www.youtube.com/embed/fJ-ev8rDFJY"
            title="Sirius Cielo Lio" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</div>