<main>
  <app-solutions-title>
    <h1 class="title-top">Videos Demonstrativos</h1>
  </app-solutions-title>

  <app-videos-presentation></app-videos-presentation>

  <section class="content section-videos">
    <h2>Varejo em geral. Versões Desktop e Celular.</h2>

    <div class="box-videos">
      <!--Line 1-->
      <div class="video">
        <p>Veja como fazer uma venda delivery e gerar um cupom fiscal S@T em apenas 01 minuto</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/iWLpc4fQjkU"
          title="Sistema Sat Fiscal / cupom fiscal eletrônico - Sistema SAT - Delivery - Sirius ERP" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Veja como abrir e fechar uma comanda/mesa e imprimir um cupom S@T em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/4z_eSGJB6Bs"
          title="Veja como abrir e fechar uma comanda/mesa e imprimir um cupom S@T em apenas 01 minuto." frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Veja como vender em qualquer tipo de comércio com o Sirius S@T em apenas 35 segundos.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/g9EX5pLYm-E"
          title="Sirius S@T LITE" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="box-videos">
      <!--Line 2-->
      <div class="video">
        <p>Veja como fazer uma venda no celular e a impressão de um cupom S@T fiscal no caixa em apenas 01 minuto.

        </p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/dVi0Su1I_n4"
          title="Sirius APP Pré-Venda" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Veja como fazer uma comanda no celular, fazer seu encerramento e a impressão de um cupom S@T fiscal no caixa
          em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/2x-af6yyQ3I"
          title="Sirius APP   Comanda" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Veja como fazer uma pré-venda em qualquer tipo de comércio e gerar o cupom fiscal eletrônico com o Sirius S@T
          em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/6qtYcN6MP6g"
          title="Sistema Sat Fiscal - Vendas Delivery | Cupom fiscal eletrônico" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>


    </div>

    <div class="box-videos">
      <!--Line 3-->
      <div class="video">
        <p>Veja uma demonstração completa do Sírius S@T em apenas 04 minutos.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/zTJhwfRWWjw"
          title="Sirius Sat Completo - Nova Versão" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

    </div>
  </section>

  <section class="content section-videos">
    <h2>Atacado, Distribuição, Indústria, Serviços e Fiscal.</h2>

    <div class="box-videos">
      <!--Line 1-->
      <div class="video">
        <p>Conheça o menu principal do Sírius ERP em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/T87FxxWCDJs"
          title="Sistema ERP - MENU principal - Sirius ERP" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>NFe - Veja como fazer uma nota fiscal eletrônica expressa em pouco mais de 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/flk9FVOJXmE"
          title="Sistema ERP - Nota expressa" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>NFe - Conheça as telas do módulo nota fiscal eletrônica e seus recursos em pouco mais de 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/3rX8Ilw1Lrw"
          title="Sistema ERP  - Nfe - Nota fiscal Eletrônica" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="box-videos">
      <!--Line 2-->
      <div class="video">
        <p>Pedido de Venda – Veja como fazer um pedido de venda e gerar uma NF-e em pouco mais de 02 minutos</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/wORgLqi4ZbI"
          title="Pedido de Venda e NFE - Nova Versão" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Expedição e Liberação de Pedidos – Apresentação dos recursos em 50 segundos.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/DvmWzf_fIsw"
          title="Sistema ERP - Expedição de Pedidos" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Pedido de Compra – Apresentação dos recursos em pouco mais de 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/ovNLlEp1hlU"
          title="Sistema ERP - Pedido de Compra" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="box-videos">
      <!--Line 3-->
      <div class="video">
        <p>Compras Entrada de Mercadoria – Apresentação dos recursos com captura de XML em apenas 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/mtUxu_F-960"
          title="Sistema ERP - Compras Entrada Detalhada" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Orçamentos – Apresentação dos recursos em 01 minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/Pr8lcC9pM7s"
          title="Sistema ERP - Orçamentos" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Contas a pagar - Apresentação dos recursos em pouco mais de 01 minuto

        </p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/0_5mjoPIBeg"
          title="Sistema ERP - Contas a pagar" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="box-videos">
      <!--Line 4-->
      <div class="video">
        <p>Contas a receber - Apresentação dos recursos em pouco mais de 01 minuto

        </p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/NqIOoDPmuVc"
          title="Sistema ERP - Contas a receber" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Movimentações Bancarias - Apresentação dos recursos em pouco mais de 01 minuto

        </p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/l9nSJLuYhbU"
          title="Sistema ERP - Movimentação Bancaria" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Controle de Entrega – Apresentação dos recursos em apenas 50 segundos.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/o3tCem0qfyg"
          title="Sistema ERP - Romaneio de Entrega" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="box-videos">
      <!--Line 5-->
      <div class="video">
        <p>Cadastro de produtos – Apresentação dos recursos em pouco mais de 01 minuto.

        </p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/xSfoG6iku7Y" title="Cadastro de Produto - Nova Versão" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Conhecimento de Transporte – Apresentação dos recursos em pouco mais de um minuto.

        </p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/18pObEteKOw" title="Sirius CTE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="video">
        <p>Nota Fiscal de Serviços – Apresentação dos recursos em pouco mais de um minuto.</p>
        <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/1fHV4Ob95bo" title="Sirius Nota fiscal de Serviço" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <app-buttons-to-know-more></app-buttons-to-know-more>
  </section>

  <app-services-category></app-services-category>
  <app-cards-category-navigation></app-cards-category-navigation>
</main>
