<main>
    <app-solutions-title>Apresentação das Soluções</app-solutions-title>

    <app-videos-presentation></app-videos-presentation>

    <section class="content section-videos">
        <h2>Varejo em geral. Versões Desktop e Celular.</h2>

        <div class="box-videos">
            <!--Line 1-->
            <div class="video">
                <p>Conheça o Sirius S@T Fiscal em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/ArJ-L_V403A"
                    title="Sirius S@T" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Pré-venda em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/K37D-o6mZJA"
                    title="Sirius Pré - Venda" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius APP Comandas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/fJ-ev8rDFJY"
                    title="Comercial Sirius APP Comandas" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="box-videos">
            <!--Line 2-->
            <div class="video">
                <p>Conheça o Sirius APP Pré-Vendas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/nKskQcPUWIA"
                    title="Sirius APP Pré-Vendas" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius App Cielo Lio em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/l-7oXgbkovs"
                    title="Sirius Cielo Lio" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Web Lojas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/tZ72ScEyDzY"
                    title="Sirius Web Lojas" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="box-videos">
            <!--Line 3-->
            <div class="video">
                <p>Conheça o Sirius Delivery em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/KK4mV4Eg5zE"
                    title="Sirius Delivery" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Desktop Comandas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/GqklA2-uTWc"
                    title="Sirius Comandas" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Integração Mercado Livre em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/xvS4Kdo_pbs"
                    title="Sirius Market Place" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="content section-videos">
        <h2>Atacado, Distribuição, Indústria, Serviços e Fiscal.</h2>

        <div class="box-videos">
            <!--Line 1-->
            <div class="video">
                <p>Conheça o Sirius ERP em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/dML4i1e25do"
                    title="Sirius ERP" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Show Room em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/Wrt-x3F1KvA"
                    title="Sirius Show Room" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius NF-e em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/1kloOC4_z-M"
                    title="Sirius SOLUÇÕES FISCAIS" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="box-videos">
            <!--Line 2-->
            <div class="video">
                <p>Conheça o Sirius Sped Fiscal com Bloco K em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/GeVMI39VYqM"
                    title="Sirius Sped Fiscal" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Ordem de Produção em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/uSpSJZyyJCo"
                    title="Ordem de Produção - Nova Versão" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Assistência Técnica em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/H4qdSEQoRHI"
                    title="Sirius Assistência Técnica" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="buttons">
            <button><a id="b1" href="#">Vídeos Demonstrativos</a></button>
            <button><a id="b2" href="#">Fale Conosco Agora </a></button>
        </div>
    </section>

    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>