
.content {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.content h2 {
    margin: 2rem 0;
    font-size: 2rem;
}

.box-videos {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.box-videos .video{
    max-width: 300px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.box-videos .videos iframe, .iframe-in-box{
    width: 300px;
    border-radius: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-basis: auto;
}

.buttons button{
    margin: 4rem ;
    background-color: #f0f8ff00;
    border: none;
}

.buttons button a{
    background-color: #FF6E00;
    padding: 1.5rem  5rem;
}

.buttons button a#b2{
    background-color: #4DC247;
}

.buttons button a#b2{
    background-color: #4DC247;
}