<main>
    <app-solutions-title>
        <h1 class="title-top">Conhecimento Transporte Eletrônico</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/webp/Transportes.webp" alt="imagem de um homem com roupa social carregando em um carrinho varias caixas de papelão empilhadas" class="image">
        <h2 class="right-title">
            Gere seus conhecimentos de transportes com agilidade.
        </h2>
    </app-reduced-top-content>

    <app-videos-presentation></app-videos-presentation>
    <app-buttons-to-know-more></app-buttons-to-know-more>

    <section class="pre-sell">
        <ul class="pre-sell-list">
            <h2>Conhecimento de Transporte Eletrônico</h2>
            <li>Geração de conhecimento de transporte.</li>
            <li>Diversos processos automatizados, inclusive captura e envio de arquivo XML.</li>
            <li>Manifestação dos documentos fiscais.</li>
            <li>Filtros e relatórios.</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>

    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>
