<main>
    <app-solutions-title>
        <h1 class="title-top">Nota Fiscal de Serviço - NFSE</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/webp/orcamento.webp" alt="imagem de uma mão feminina digitando em uma calculadora" class="image">
        <h2 class="right-title">Controle detalhado dos orçamentos de sua empresa.</h2>
        <ul class="right-list">
            <li>Digitação e Controle de Orçamento</li>
            <li>Envio Total ou Parcial do Orçamento para Pedido de Venda</li>
            <li>Controle de Saldo de Orçamento</li>
            <li>Curva ABC de Orçamentos</li>
            <li>Impressão de Orçamento</li>
            <li>Relatório comparativo Orçado x Faturado x Saldo</li>
            <li>Status Pendente e Realizado</li>
            <li>Follow Up</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </app-reduced-top-content>

    <section id="videos">
        <app-videos-presentation></app-videos-presentation>

        <div class="box-videos">
            <!--Line 1-->
            <div class="video">
                <p>Conheça nossos módulos principais em
                    apenas 1 minuto.
                    </p>
                    <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/T87FxxWCDJs" title="Sistema ERP - MENU principal - Sirius ERP" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça nosso módulo Pedido/Orçamento para Atacado/Distribuição com emissão de NF-e em pouco mais de 2 minutos.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/5fQoJMgGqC0" title="Sistema ERP - Vendas Pedidos Completo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Veja como emitir uma Nf-e em apenas
                    1 minuto.</p>
                    <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/flk9FVOJXmE" title="Sistema ERP - Nota expressa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <app-buttons-to-know-more></app-buttons-to-know-more>

    </section>

    <section>
        <app-services-category></app-services-category>
        <app-cards-category-navigation></app-cards-category-navigation>
    </section>

</main>
