<main>
    <app-solutions-title>Pré Venda – Venda Balcão</app-solutions-title>
    <div class="faster-sells">
        <div class="left-images">
            <div class="image">
                <img src="assets/images/png/Pre-venda1.png" alt="Uma mulher branca com cabelo loiro usando um relógio com os braços cruzados, saindo de dentro da tela do notebook aberto, rodeada de ícones de vendas como etiquetas, preços, código de barras, transportadores, empacotadoras e afins mostrando que a Sirius tem poder sobre qualquer tipo de negócio">
            </div>
            <div class="image">
                <img src="assets/images/jpg/Desenho-com-texto-pg-solucoes.jpg" alt="Uma mulher cartoon, loira, vestindo avental vermelho e roupas brancas, de cabelo preso, no centro da imagem, com diversas soluções em sua volta. Acima uma nuvem e computadores ligados a ela escrito: 'Gestão de Loja Via Internet', seguindo no sentido horário uma impressora de nota fiscal e um servidor escrito: 'Integrado com S@T Fiscal e Nota Fiscal Paulista'">
            </div>
        </div>
        <div class="right-content">
            <app-solutions-top-content></app-solutions-top-content>
        </div>
    </div>
    <div class="button-bottom">
        <button class="contact-button">
            <a [routerLink]="['/contact']">Solicite contato ou agende uma demonstração</a>
        </button>
    </div>
    <app-videos-presentation></app-videos-presentation>
    <app-services-category></app-services-category>
</main>