<main>
    <app-solutions-title>Pré Venda – Venda Balcão</app-solutions-title>
    <div class="faster-sells">
        <div class="left-images">
            <div class="image-top-left">
                <img src="assets/images/png/Pre-venda1.png" alt="Uma mulher branca com cabelo loiro usando um relógio com os braços cruzados, saindo de dentro da tela do notebook aberto, rodeada de ícones de vendas como etiquetas, preços, código de barras, transportadores, empacotadoras e afins mostrando que a Sirius tem poder sobre qualquer tipo de negócio">
            </div>
        </div>
    </div>
</main>