<section class="video-presentation-container">
    <div class="video-container">
        <div class="video-header">
            <h2>SOFT CLEVER NA MÍDIA</h2>
            <p>Reportagem exibida na Band News</p>
        </div>

        <div class="video vimeo" (click)="vimeoClicked()">
            <div class="vimeo-thumbnail">
                <img src="assets/images/webp/vimeo-bandnews-thumb.webp" alt="">
            </div>
        </div>
    </div>
    <div class="video-container">
        <div class="video-header">
            <h2>APRESENTAÇÃO DOS PRODUTOS E SERVIÇOS</h2>
            <p>Conheça nossos produtos e serviços em apenas 1 minuto</p>
        </div>
        <div class="video youtube" (click)="youtubeClicked()">
            <div class="youtube-thumbnail">
                <img src="assets/images/webp/youtube-satfiscal-thumb.webp" alt="">
            </div>
        </div>
    </div>
</section>
