.video-presentation-container {
  width: 100%;

  padding: 2% 0;

  display: flex;

  justify-content: space-between;

  background-color: #CEEAFC;

  .video-container {
    width: 49%;

    min-width: 350px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    .video-header {
      display: flex;
      flex-direction: column;
  
      justify-content: space-around;
      align-items: center;
  
      >h2 {
        font-size: 18px;
        font-weight: 600;
      }
  
      >p {
        font-size: 18px;
      }
    }

    .video {
      width: 98%;

      height: 100%;

      .youtube-thumbnail,
      .vimeo-thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;

        overflow: hidden;

        img {
          width: 320px;
          height: 180px;

          cursor: pointer;

          border-radius: 10px;
        }
      }

      .youtube-container {

        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;


        >iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width:750px){
    flex-wrap: nowrap;
    flex-direction: column;

    .video-container {
      width: 100%;

      .video {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .youtube-thumbnail,
        .vimeo-thumbnail {
          display: flex;
          justify-content: center;

          width: 320px;
          height: 180px;
          img {
            width: 100%;
          }
      }
    }
  }
}}
