<form class="forms-inputs" [formGroup]="formClient" (onSubmit)="onSubmit()">
    <div class="minor-inputs">
        <div class="input-camp">
            <input type="text" placeholder="Nome" formControlName="name">
        </div>
        <div class="input-camp">
            <input type="text" placeholder="Empresa" formControlName="enterprise">
        </div>
        <div class="input-camp">
            <input type="email" placeholder="Email" formControlName="email">
        </div>
        <div class="input-camp">
            <input type="tel" placeholder="Telefone" formControlName="phone">
        </div>
    </div>
    <div class="input-message">
        <textarea type="text" placeholder="Mensagem" formControlName="message"></textarea>
    </div>
    <button type="submit" (click)="onSubmit()">ENVIAR</button>
</form>
