<form class="forms-inputs" onsubmit="$event.preventDefault(); onSubmit()">
    <div class="minor-inputs">
        <div class="input-camp">
            <input type="text" placeholder="Nome" name="name" required>
        </div>
        <div class="input-camp">
            <input type="text" placeholder="Empresa" name="enterprise" required>
        </div>
        <div class="input-camp">
            <input type="email" placeholder="Email" name="email" required>
        </div>
        <div class="input-camp">
            <input type="tel" placeholder="Telefone" name="phone" required>
        </div>
    </div>
    <div class="input-message">
        <textarea type="text" placeholder="Mensagem" name="message" required></textarea>
    </div>
    <button type="submit">ENVIAR</button>
</form>
