.forms-inputs {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 10px;

  .minor-inputs {
    width: 100%;
    height: 30%;

    display: flex;
    flex-wrap: wrap;

    gap: 10px;

    justify-content: space-between;
    align-content: space-between;

    .input-camp {
      width: 48%;

      display: flex;

      justify-content: center;
      align-items: center;

      > input {
        width: 98%;
        border-radius: 5px;
        border-color: #ccc;
        border-width: 1px;
        background-color: #f8f8f8;

        padding: 3%;
      }
    }
  }

  .input-message {
    width: 100%;

    > textarea {
      width: 100%;
      height: 150px;
      padding: 12px 20px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f8f8f8;
      resize: vertical;
    }
  }

  > button {
    width: 200px;
    height: 50px;

    font-size: 16px;
    font-weight: 600;

    border-radius: 5px;
    border-color: transparent;

    cursor: pointer;
  }
}
