<main>
    <app-solutions-title>
        <h1 class="title-top">Organograma do Sistema</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/png/organograma.png" alt="" class="image">
        <h2 class="right-title">
            Veja o Organograma do Sistema Sirius ERP e conheça a gama de recursos, rotinas, filtros, módulos e relatórios que  o sistema disponibiliza.
        </h2>
    </app-reduced-top-content>
    
    <section class="chart-images">
        <img src="assets/images/jpg/org1.jpg" alt="">
        <img src="assets/images/jpg/org2.jpg" alt="">
        <img src="assets/images/jpg/org3.jpg" alt="">
        <img src="assets/images/jpg/org4.jpg" alt="">
        <img src="assets/images/jpg/org5.jpg" alt="">
        <img src="assets/images/jpg/org6.jpg" alt="">
        <img src="assets/images/jpg/org7.jpg" alt="">
        <img src="assets/images/jpg/org8.jpg" alt="">
    </section>

    <app-cards-category-navigation></app-cards-category-navigation>
</main>