<main>
    <app-solutions-title>
        <h1 class="title-top">Organograma do Sistema</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/webp/organograma.webp" alt="" class="image">
        <h2 class="right-title">
            Veja o Organograma do Sistema Sirius ERP e conheça a gama de recursos, rotinas, filtros, módulos e relatórios que  o sistema disponibiliza.
        </h2>
    </app-reduced-top-content>
    
    <section class="chart-images">
        <img src="assets/images/webp/org1.webp" alt="">
        <img src="assets/images/webp/org2.webp" alt="">
        <img src="assets/images/webp/org3.webp" alt="">
        <img src="assets/images/webp/org4.webp" alt="">
        <img src="assets/images/webp/org5.webp" alt="">
        <img src="assets/images/webp/org6.webp" alt="">
        <img src="assets/images/webp/org7.webp" alt="">
        <img src="assets/images/webp/org8.webp" alt="">
    </section>

    <app-cards-category-navigation></app-cards-category-navigation>
</main>