<header class="menu">
    <div class="menu-container">
        <div class="menu-inner">
            <nav class="menu-top-line">
                <div class="menu-logo">
                    <img src="assets/images/webp/softclever-logo.webp" type="image/webp" alt="">
                </div>
                <ul class="menu-contact-items">
                    <li class="menu-item">
                        <i class="fa-brands fa-whatsapp"></i>
                        <a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5511992810253">+55 (11) 99281-0253</a>
                    </li>
                    <li class="menu-item">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+551139913923" class="cellphone">+55 (11) 3991-3923</a>
                        <a href="tel:+551123618334">+55 (11) 2361-8334</a>
                    </li>
                    <li class="menu-item">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:softclever@softclever.com.br">softclever@softclever.com.br</a>
                    </li>
                </ul>
            </nav>
            <nav class="menu-navigation">
                <div class="menu-navigation-logo">
                    <img src="assets/images/jpg/logo-mais-de-28-anos.jpg" type="image/jpg"
                        alt="Logo da softclever com um painel ao lado escrito: 'Mais de 28 anos de experiência. Milhares de clientes atendidos.'">
                </div>
                <ul class="menu-navigation-items">
                    <li class="menu-navigation-item">
                        <a [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a [routerLink]="['/about-enterprise']" routerLinkActive="active" ariaCurrentWhenActive="page">A Empresa</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">Soluções</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a [routerLink]="['/clients']" routerLinkActive="active" ariaCurrentWhenActive="page">Clientes</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">Contato</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">Suporte</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>