.block {
    height: 100px;

    @media screen and (max-width: 930px) {
        height: 50px;
    }
}

.menu-container {
    width: 100%;
    z-index: 1;
    .menu-inner {
        width: 100%;

        position: fixed;
        top: 0;
        z-index: 1;
        .menu-top-line {
            height: 50px;

            display: flex;
            align-items: center;
            justify-content: center;
            
            background-color: #1B5083;

            z-index: 1;

            .menu-logo {
                width: 20%;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            .menu-contact-items {
                width: 80%;

                list-style: none;

                display: flex;
                justify-content: space-between;
                align-items: center;

                .menu-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    gap: 8px;

                    margin: 0 auto;

                    >i,
                    a {
                        color: #72A0BF;
                    }

                    .cellphone {
                        border-right: 1px solid #72A0BF;
                        padding-right: 10px;
                    }
                }
            }
        }

        .menu-navigation {
            height: 50px;

            display: flex;
            justify-content: space-around;
            align-items: center;

            grid-template-columns: 1fr 1fr;

            background-color: white;
            z-index: 1;

            .menu-navigation-logo {
                width: 40%;
                height: 50px;

                display: flex;
                justify-content: center;
                align-items: stretch;

                >img {
                    width: 100%;
                }
            }

            .menu-navigation-items {
                width: 60%;

                display: flex;
                justify-content: space-around;
                align-items: center;

                list-style: none;
            }

            .menu-hamburger {
                display: none;

                cursor: pointer;
            }

            @media screen and (max-width: 730px) {
                .menu-navigation-items {
                    display: none;
                }

                .menu-hamburger {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }

        @media screen and (max-width: 930px){
            .menu-top-line {
                display: none;
            }

            .menu-navigation {
                justify-content: space-between;
                padding: 0 20px;
            }
        }
    }
}

app-solutions {
    display: none;
}

.display-solutions {
    display: flex;
}