<header class="menu">
    <div class="menu-container">
        <div class="menu-inner">
            <nav class="menu-top-line">
                <div class="menu-logo">
                    <img src="assets/softclever-logo.webp" type="image/webp" alt="">
                </div>
                <ul class="menu-contact-items">
                    <li class="menu-item">
                        <i class="fa-brands fa-whatsapp"></i>
                        <a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=5511992810253">+55 (11) 99281-0253</a>
                    </li>
                    <li class="menu-item">
                        <i class="fa-solid fa-phone"></i>
                        <a href="tel:+551139913923" class="cellphone">+55 (11) 3991-3923</a>
                        <a href="tel:+551123618334">+55 (11) 2361-8334</a>
                    </li>
                    <li class="menu-item">
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:softclever@softclever.com.br">softclever@softclever.com.br</a>
                    </li>
                </ul>
            </nav>
            <nav class="menu-navigation">
                <div class="menu-navigation-logo">
                    <img src="assets/jpg/logo-mais-de-28-anos.jpg" type="image/jpg"
                        alt="Logo da softclever com um painél ao lado escrito: 'Mais de 28 anos de experiência. Milhares de clientes atendidos'">
                </div>
                <ul class="menu-navigation-items">
                    <li class="menu-navigation-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">A Empresa</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">Soluções</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">Clientes</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">Contato</a>
                    </li>
                    <li class="menu-navigation-item">
                        <a href="#">Suporte</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>


<!--
    <header class="site-header" role="banner">

    <div id="mega_main_menu"
      class="mega_main mega_main_menu header-menu primary_style-flat icons-left first-lvl-align-center first-lvl-separator-none language_direction-ltr direction-horizontal responsive-enable mobile_minimized-enable dropdowns_animation-anim_4 version-2-0-2 include-logo include-search no-woo_cart no-buddypress  logoplacement-bottom-left search-shadow-inside"
      style="z-index: 4980;">
      <div class="menu_holder" data-sticky="1" data-stickyoffset="134">
        <div class="fullwidth_container"></div><!-- class="fullwidth_container" 
        <div class="menu_inner">
            <span class="nav_logo">
              <a class="logo_link" href="https://www.softclever.com.br" title="SoftClever">
                <img src="https://www.softclever.com.br/wp-content/uploads/2022/01/logo-mais-de-28-anos.jpg"
                  alt="SoftClever">
              </a>
              <a class="mobile_toggle">
                <span class="mobile_button">
                  Menu &nbsp;
                  <span class="symbol_menu">≡</span>
                  <span class="symbol_cross">╳</span>
                </span><!-- class="mobile_button" 
              </a>
            </span><!-- /class="nav_logo" 
            <ul id="mega_main_menu_ul" class="mega_main_menu_ul">
              <li id="menu-item-1039"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-1039 default_dropdown default_style drop_to_right submenu_default_width columns1">
                <a href="http://www.softclever.com.br" class="item_link  disable_icon" tabindex="0">
                  <i class=""></i>
                  <span class="link_content">
                    <span class="link_text">
                      Home
                    </span>
                  </span>
                </a>
              </li>
              <li id="menu-item-1079"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1079 default_dropdown default_style drop_to_right submenu_default_width columns1">
                <a href="https://www.softclever.com.br/predesigned-pages/a-empresa/" class="item_link  disable_icon"
                  tabindex="0">
                  <i class=""></i>
                  <span class="link_content">
                    <span class="link_text">
                      A Empresa
                    </span>
                  </span>
                </a>
              </li>
              <li id="menu-item-1038"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1038 multicolumn_dropdown default_style drop_to_right submenu_default_width columns2">
                <a href="#" class="item_link  disable_icon" tabindex="0">
                  <i class=""></i>
                  <span class="link_content">
                    <span class="link_text">
                      Soluções
                    </span>
                  </span>
                </a>
                <ul class="mega_dropdown">
                  <li id="menu-item-2185"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2185 default_dropdown default_style drop_to_right submenu_default_width columns1"
                    style="width:50%;">
                    <a href="https://www.softclever.com.br/project-view/apresentacao-das-solucoes/"
                      class="item_link  with_icon" tabindex="0">
                      <i class="fa-icon-search"></i>
                      <span class="link_content">
                        <span class="link_text">
                          Apresentação das Soluções
                        </span>
                      </span>
                    </a>
                    <ul class="mega_dropdown">
                      <li id="menu-item-2191"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2191 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/sat-2016/" class="item_link  with_icon"
                          tabindex="0">
                          <i class="im-icon-puzzle"></i>
                          <span class="link_content">
                            <span class="link_text">
                              SAT Fiscal
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2192"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2192 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/pre-venda-2016/" class="item_link  with_icon"
                          tabindex="0">
                          <i class="im-icon-basket"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Venda Balcão – Pré Venda
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2193"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2193 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/restaurante-2016/" class="item_link  with_icon"
                          tabindex="0">
                          <i class="fa-icon-cutlery"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Restaurante – Comanda – Delivery – Mesas
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2194"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2194 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/equipamento-sat-2016/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="fa-icon-power-off"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Equipamento SAT
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2195"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2195 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/nfc-e-2016/" class="item_link  with_icon"
                          tabindex="0">
                          <i class="im-icon-basket"></i>
                          <span class="link_content">
                            <span class="link_text">
                              NFC-e
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2198"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2198 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/orcamento-e-venda-2016/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="im-icon-cart-6"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Venda Atacado &gt; Pedidos de Venda – Liberação – Expedição
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2199"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2199 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/orcamento/" class="item_link  with_icon"
                          tabindex="0">
                          <i class="im-icon-bars-3"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Orçamento de Venda – Produtos e Serviços.
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2201"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2201 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/nota-fiscal-eletronicanf-e-2016/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="im-icon-atom"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Nota Fiscal Eletrônica – Nfe
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2202"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2202 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/conhecimento-transporte-eletronico/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="fa-icon-truck"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Conhecimento Transporte Eletrônico
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2203"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2203 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/notas-fiscais-de-servicos/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="im-icon-file-4"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Notas Fiscais de Serviços
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2204"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2204 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/impostos-e-fiscal-sped-2016/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="im-icon-book-2"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Impostos e Fiscal – SPED
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2221"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2221 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/compras" class="item_link  with_icon"
                          tabindex="0">
                          <i class="im-icon-tag-8"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Compras – Pedidos e Notas de Entrada
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2222"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2222 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/financeiro" class="item_link  with_icon"
                          tabindex="0">
                          <i class="im-icon-copy-3"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Financeiro – Pagar – Receber – Boletos – Bancos
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2206"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2206 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/confeccao-2016/" class="item_link  with_icon"
                          tabindex="0">
                          <i class="fa-icon-cut"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Produção Padrão e Produção para Confecções
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-2207"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2207 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/ordens-de-servicos/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="im-icon-wrench-3"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Ordens de Serviços – Assistência Técnica
                            </span>
                          </span>
                        </a>
                      </li>
                    </ul><!-- /.mega_dropdown 
                  </li>
                  <li id="menu-item-1042"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1042 default_dropdown additional_style_2 drop_to_right submenu_default_width columns1"
                    style="width:50%;">
                    <span class="item_link  disable_icon" tabindex="0">
                      <i class=""></i>
                      <span class="link_content">
                        <span class="link_text">
                          Demonstrações
                        </span>
                      </span>
                    </span>
                    <ul class="mega_dropdown">
                      <li id="menu-item-2636"
                        class="menu-item menu-item-type-post_type menu-item-object-dslc_projects menu-item-2636 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="https://www.softclever.com.br/project-view/videos-demonstrativos/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="im-icon-camera-6"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Vídeos Demonstrativos
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-1637"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1637 default_dropdown default_style drop_to_right submenu_default_width columns1">
                        <a href="http://www.softclever.com.br/project-view/organograma-do-sistema/"
                          class="item_link  with_icon" tabindex="0">
                          <i class="fa-icon-windows"></i>
                          <span class="link_content">
                            <span class="link_text">
                              Organograma do Sistema
                            </span>
                          </span>
                        </a>
                      </li>
                      <li id="menu-item-1822"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1822 default_dropdown additional_style_2 drop_to_right submenu_default_width columns1">
                        <span class="item_link  disable_icon" tabindex="0">
                          <i class=""></i>
                          <span class="link_content">
                            <span class="link_text">
                              ERP
                            </span>
                          </span>
                        </span>
                        <ul class="mega_dropdown">
                          <li id="menu-item-1824"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1824 default_dropdown default_style drop_to_right submenu_default_width columns1">
                            <a href="http://www.softclever.com.br/project-view/sistema-erp-2018"
                              class="item_link  with_icon" tabindex="0">
                              <i class="im-icon-tree-5"></i>
                              <span class="link_content">
                                <span class="link_text">
                                  Sistema ERP
                                </span>
                              </span>
                            </a>
                          </li>
                          <li id="menu-item-2378"
                            class="menu-item menu-item-type-post_type menu-item-object-dslc_projects menu-item-2378 default_dropdown default_style drop_to_right submenu_default_width columns1">
                            <a href="https://www.softclever.com.br/project-view/sped-fiscal-icmsipi-bloco-k/"
                              class="item_link  with_icon" tabindex="0">
                              <i class="im-icon-lightning"></i>
                              <span class="link_content">
                                <span class="link_text">
                                  Sped Fiscal ICMS/IPI – Bloco K
                                </span>
                              </span>
                            </a>
                          </li>
                          <li id="menu-item-2010"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2010 default_dropdown default_style drop_to_right submenu_default_width columns1">
                            <a href="http://www.softclever.com.br/project-view/software-erp/" class="item_link  with_icon"
                              tabindex="0">
                              <i class="fa-icon-flag"></i>
                              <span class="link_content">
                                <span class="link_text">
                                  Software ERP
                                </span>
                              </span>
                            </a>
                          </li>
                          <li id="menu-item-2011"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2011 default_dropdown default_style drop_to_right submenu_default_width columns1">
                            <a href="http://www.softclever.com.br/project-view/software-de-gestao-empresarial/"
                              class="item_link  with_icon" tabindex="0">
                              <i class="fa-icon-gears"></i>
                              <span class="link_content">
                                <span class="link_text">
                                  Sistema / Software de Gestão Empresarial
                                </span>
                              </span>
                            </a>
                          </li>
                        </ul><!-- /.mega_dropdown 
                      </li>
                      <li id="menu-item-2002"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2002 default_dropdown additional_style_2 drop_to_right submenu_default_width columns1">
                        <span class="item_link  disable_icon" tabindex="0">
                          <i class=""></i>
                          <span class="link_content">
                            <span class="link_text">
                              APARELHO
                            </span>
                          </span>
                        </span>
                        <ul class="mega_dropdown">
                          <li id="menu-item-2004"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2004 default_dropdown default_style drop_to_right submenu_default_width columns1">
                            <a href="http://www.softclever.com.br/project-view/equipamento-sat/"
                              class="item_link  with_icon" tabindex="0">
                              <i class="im-icon-cord"></i>
                              <span class="link_content">
                                <span class="link_text">
                                  Equipamento SAT
                                </span>
                              </span>
                            </a>
                          </li>
                        </ul><!-- /.mega_dropdown 
                      </li>
                    </ul><!-- /.mega_dropdown 
                  </li>
                </ul><!-- /.mega_dropdown 
              </li>
              <li id="menu-item-1080"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080 default_dropdown default_style drop_to_right submenu_default_width columns1">
                <a href="https://www.softclever.com.br/sections-listings/clients/" class="item_link  disable_icon"
                  tabindex="0">
                  <i class=""></i>
                  <span class="link_content">
                    <span class="link_text">
                      Clientes
                    </span>
                  </span>
                </a>
              </li>
              <li id="menu-item-1055"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1055 default_dropdown default_style drop_to_right submenu_default_width columns1">
                <a href="http://www.softclever.com.br/contato/" class="item_link  with_icon" tabindex="0">
                  <i class="im-icon-envelop"></i>
                  <span class="link_content">
                    <span class="link_text">
                      Contato
                    </span>
                  </span>
                </a>
              </li>
              <li id="menu-item-2026"
                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2026 default_dropdown default_style drop_to_right submenu_default_width columns1">
                <a href="https://www.softclever.com.br/sections-listings/suporte/" class="item_link  disable_icon"
                  tabindex="0">
                  <i class=""></i>
                  <span class="link_content">
                    <span class="link_text">
                      Suporte
                    </span>
                  </span>
                </a>
              </li>
              <li class="nav_search_box">
                <form method="get" id="mega_main_menu_searchform" action="https://www.softclever.com.br/">
                  <i class="im-icon-search-3 icosearch"></i>
                  <input type="submit" class="submit button" name="submit" id="searchsubmit" value="Search">
                  <input type="text" class="field" name="s" id="s">
                </form>
              </li><!-- class="nav_search_box" 
            </ul>
          </div><!-- /class="menu_inner" 
        </div><!-- /class="menu_holder" 
      </div><!-- /id="mega_main_menu" 
    </header><!-- #masthead 
-->