<main>
    <section class="top-container">
        <div class="top-text-container">
            <h1>Soft Clever</h1>
            <p>Nossa equipe treinada esta apta a resolver em um curto prazo de tempo qualquer necessidade dos nossos
                clientes com as melhores ferramentas do mercado de TI.</p>
        </div>
        <div class="top-image-container">
            <img src="assets/images/webp/notebook-site.webp"
                alt="Um notebook aberto virado de frente mostrando em sua tela o site da softclever e sua usabilidade nos diversos setores de fábricas">
        </div>
    </section>
    <section class="content-container">
        <div class="about-soft-container">
            <div class="about-principal-phrase">
                <h2>A Soft Clever Informática, com experiência desde 1994 e milhares de clientes atendidos, tem o
                    orgulho de ter seus clientes como amigos e parceiros de negócios.</h2>
            </div>
            <div class="about-description">
                <div class="description-container">
                    <p>Procurando atender cada vez melhor, o nosso segredo está no comprometimento com nosso trabalho,
                        pensando sempre no bem estar de nossos clientes com o compromisso de sempre resolver e orientar
                        para melhor decisão, gerando assim confiança e satisfação nos nossos atendimentos.</p>
                </div>
                <div class="description-container">
                    <p>Contando com uma equipe qualificada e laboratório próprio, nós da Soft Clever atendemos todas as
                        necessidades do mercado com agilidade e comprometimento. A fidelidade de nossos clientes é a
                        melhor demonstração de qualidade dos nossos serviços. A Soft Clever dispõe de projetos
                        específicos para todo tipo de empresas, seja ela micro, pequena ou de médio porte.</p>
                </div>
            </div>
        </div>
        <div class="category-blocks-container">
            <div class="blocks-container">
                <div class="block first">
                    <div class="block-icon">
                        <i class="fa-solid fa-flag"></i>
                    </div>
                    <div class="block-description">
                        <p>Sistema ERP Completo</p>
                    </div>
                </div>
                <div class="block second">
                    <div class="block-icon">
                        <i class="fa-solid fa-wallet"></i>
                    </div>
                    <div class="block-description">
                        <p>Cobramos apenas mensalidade de uso</p>
                    </div>
                </div>
                <div class="block third">
                    <div class="block-icon">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <div class="block-description">
                        <p>SPED</p>
                    </div>
                </div>
                <div class="block fourth">
                    <div class="block-icon">
                        <i class="fa-solid fa-laptop"></i>
                    </div>
                    <div class="block-description">
                        <p>Nota Fiscal Eletrônica</p>
                    </div>
                </div>
                <div class="block fifth">
                    <div class="block-icon">
                        <i class="fa-solid fa-file"></i>
                    </div>
                    <div class="block-description">
                        <p>Nota Fiscal Paulista</p>
                    </div>
                </div>
                <div class="block sixth">
                    <div class="block-icon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <div class="block-description">
                        <p>Suporte Diferenciado</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="enterprise-differential">
        <div class="differential-container">
            <div class="differential-title">
                <h2>Nosso Diferencial</h2>
            </div>
            <div class="differential-description">
                <p>Nós da Soft Clever temos o intuito de ter sua empresa como membro do nosso grupo e não somente como
                    mais um cliente.</p>
            </div>
        </div>
    </section>
</main>