<main>
    <app-headline>
        <span class="background-color">#59ACE7</span>

        <h1 class="headline-title">Soft Clever</h1>
        <p class="headline-description">
            Nossa equipe treinada esta apta a resolver em um curto prazo de tempo qualquer necessidade dos nossos
                clientes com as melhores ferramentas do mercado de TI.
        </p>
        <img class="headline-image" src="assets/images/webp/notebook-site.webp"
            alt="Um notebook aberto virado de frente mostrando em sua tela o site da Softclever e sua usabilidade nos diversos setores de fábricas">
    </app-headline>

    <section class="content-container">
        <div class="about-soft-container">
            <h2>A Soft Clever Informática, com experiência desde 1994 e milhares de clientes atendidos, tem o
                orgulho de ter seus clientes como amigos e parceiros de negócios.</h2>
            <div class="about-description">
                <p>Procurando atender cada vez melhor, o nosso segredo está no comprometimento com nosso trabalho,
                    pensando sempre no bem estar de nossos clientes com o compromisso de sempre resolver e orientar
                    para melhor decisão, gerando assim confiança e satisfação nos nossos atendimentos.</p>
                <p>Contando com uma equipe qualificada e laboratório próprio, nós da Soft Clever atendemos todas as
                    necessidades do mercado com agilidade e comprometimento. A fidelidade de nossos clientes é a
                    melhor demonstração de qualidade dos nossos serviços. A Soft Clever dispõe de projetos
                    específicos para todo tipo de empresas, seja ela micro, pequena ou de médio porte.</p>
            </div>
        </div>
    </section>

    <section class="category-blocks-container">
        <div class="blocks-container">
            <div class="block first">
                <i class="fa-solid fa-flag"></i>
                <p>Sistema ERP Completo</p>
            </div>
            <div class="block second">
                <i class="fa-solid fa-wallet"></i>
                <p>Cobramos apenas mensalidade de uso</p>
            </div>
            <div class="block third">
                <i class="fa-solid fa-globe"></i>
                <p>SPED</p>
            </div>
            <div class="block fourth">
                <i class="fa-solid fa-laptop"></i>
                <p>Nota Fiscal Eletrônica</p>
            </div>
            <div class="block fifth">
                <i class="fa-solid fa-file"></i>
                <p>Nota Fiscal Paulista</p>
            </div>
            <div class="block sixth">
                <i class="fa-solid fa-lightbulb"></i>
                <p>Suporte Diferenciado</p>
            </div>
        </div>
    </section>
    <section class="enterprise-differential">
        <div class="differential-container">
            <h2>Nosso Diferencial</h2>
            <p>Nós da Soft Clever temos o intuito de ter sua empresa como membro do nosso grupo e não somente como
                mais um cliente.</p>
        </div>
    </section>
</main>