<main>
    <app-solutions-title>
        <h1 class="title-top">Nota Fiscal Eletrônica - NFE</h1>
      </app-solutions-title>
    <section class="banner">
        <div class="left">
            <img src="assets/images/webp/vendas-2.webp" alt="imagem de um monitor de computador com uma nota fiscal sainde de dentro da tela">
        </div>

        <div class="right">
            <div>
                <ul class="list-top">
                    <li>Pacotes a partir <strong>R$ 82,90</strong> mensais.</li>
                    <li>Para planos anuais, descontos de 30% para pagamento a vista.</li>
                    <li>Atendemos todo território nacional.</li>
                    <li>Instalação, treinamento e suporte remoto.</li>
                    <li>Processo totalmente eletrônico e integrado com a SEFAZ para emissão automática com todos os
                        impostos, calculados automaticamente para cada item da NF-e sem a intervenção humana.</li>
                    <li>Sem contrato de fidelidade para planos mensais.</li>
                </ul>

            </div>

            <button><a href="#">Solicite Contato ou Agende uma Demonstração</a></button>
        </div>
    </section>

    <section id="videos">
        <app-videos-presentation></app-videos-presentation>

        <div class="box-videos">
            <!--Line 1-->
            <div class="video">
                <p>Conheça nossos módulos principais em apenas 1 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/T87FxxWCDJs"
                    title="Sistema ERP - MENU principal - Sirius ERP" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>
                    Conheça nosso módulo Pedido/Orçamento para Atacado/Distribuição com emissão de NF-e em pouco mais de
                    2 minutos.
                </p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/5fQoJMgGqC0"
                    title="Sistema ERP - Vendas Pedidos Completo" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Veja como emitir uma Nf-e em apenas
                    1 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/flk9FVOJXmE"
                    title="Sistema ERP - Nota expressa" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="buttons">
            <button><a href="#">Apresentação das Soluções</a></button>
            <button><a href="#">Vídeos Demonstrativos</a></button>
        </div>

    </section>

    <section class="ntf-list">
        <h2>Sua NFE pronta em instantes e calculada automaticamente.</h2>

        <ul class="list-bottom">
            <li>O Sirius ERP com NF-e possui recursos significativos no processo de emissão e gestão das informações
                fiscais, trazendo grandes benefícios para a empresa, o faturista quando utiliza o sistema Sirius ERP não
                precisa conhecer e saber das regras tributárias para calcular impostos, pois dentro do Sistema ERP a
                Nota Fiscal Eletrônica é gerada automaticamente com todos os impostos calculados para cada item da NF-e
                sem a intervenção humana. Isso evita erros e cancelamentos de notas e economiza em ligações para o
                contador.</li>
            <li>Geração de NFE a partir do pedido</li>
            <li>Digitação expressa de nfe de saída ou entrada</li>
            <li>Processos automatizados de;</li>
            <li>Cálculos de impostos, inclusive substituição tributária</li>
            <li>Cálculos de peso e volume</li>
            <li>Envio, autorização e retorno junto a SEFAZ</li>
            <li>Impressão da Danfe</li>
            <li>Geração e envio de arquivo XML</li>
            <li>Visualização da pré-danfe</li>
            <li>Rotinas de cancelamento e inutilização</li>
            <li>Geração de notas de importação</li>
            <li>Carta de correção, nota complementar e afins</li>
            <li>Baixa automática do estoque</li>
            <li>Envio dos títulos ao contas a receber</li>
            <li>Impressão;</li>
            <li>Listagem com apresentação de impostos</li>
            <li>Listagens a partir de elaboração de filtros</li>
        </ul>
    </section>

    <section>
        <app-cards-category-navigation></app-cards-category-navigation>
    </section>
</main>
