<main>
    <app-solutions-title>
        <h1 class="title-top">Nota Fiscal Eletrônica - NFE</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/webp/vendas-2.webp"
            alt="imagem de um monitor de computador com uma nota fiscal sainde de dentro da tela" class="image">


        <ul class="right-list">
            <li>Pacotes a partir <strong style="color: red; font-size: 20px;">R$ 82,90</strong> mensais.</li>
            <li>Para planos anuais, descontos de 30% para pagamento a vista.</li>
            <li>Atendemos todo território nacional.</li>
            <li>Instalação, treinamento e suporte remoto.</li>
            <li>Processo totalmente eletrônico e integrado com a SEFAZ para emissão automática com todos os
                impostos, calculados automaticamente para cada item da NF-e sem a intervenção humana.</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </app-reduced-top-content>

    <section id="videos">
        <app-videos-presentation></app-videos-presentation>

        <div class="box-videos">
            <!--Line 1-->
            <div class="video">
                <p>Conheça nossos módulos principais em apenas 1 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/T87FxxWCDJs"
                    title="Sistema ERP - MENU principal - Sirius ERP" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>
                    Conheça nosso módulo Pedido/Orçamento para Atacado/Distribuição com emissão de NF-e em pouco mais de
                    2 minutos.
                </p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/5fQoJMgGqC0"
                    title="Sistema ERP - Vendas Pedidos Completo" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Veja como emitir uma Nf-e em apenas
                    1 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/flk9FVOJXmE"
                    title="Sistema ERP - Nota expressa" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <app-buttons-to-know-more></app-buttons-to-know-more>

    </section>

    <app-promo-erp></app-promo-erp>

    <app-cards-category-navigation></app-cards-category-navigation>

    <app-second-footer></app-second-footer>

    <section class="text-content">
      <div class="box-text">
        <p class="text">
          Sistema Emissor de Nota Fiscal Eletrônica
        </p>

        <p class="text">
          O sistema emissor de nota fiscal eletrônica da Soft Clever Informática, o Sirius ERP (Enterprise Resource Planning ou SIGE, o Sistema Integrado de Gestão Empresarial) busca atender a todas as necessidades dos clientes com relação à emissão de NFE, online ou em estrutura própria. O objetivo do sistema é atender as necessidades do cliente, com muitas opções de customização é possível conciliar os recursos do sistema emissor de nota fiscal eletrônica as necessidades de sua empresa.
        </p>

        <p class="text">
          A Soft Clever Informática, empresa de desenvolvimento de tecnologia, desenvolveu e cede o direito de uso do sistema emissor de nota fiscal eletrônica.
        </p>

        <p class="text">
          Desde a fundação da Soft Clever Informática, em 1994, sempre buscam trazer inovação no mercado para geração de NFE, com softwares que atendam prontamente às necessidades do mercado, independentemente do segmento de sua empresa, seja você um micro empreendedor, ou um CEO de uma empresa de médio porte.
        </p>

        <p class="text">
          A empresa Soft Clever Informática está preparada para atender todas as necessidades de seus clientes de forma que o sistema emissor de nota fiscal eletrônica seja modularizado de acordo com o perfil do cliente.
        </p>

        <p class="text">
          Além disso, o sistema emissor de nota fiscal eletrônica pode ser utilizado em todo o território nacional, com instalação e suporte técnico, tudo feito com a qualidade que o mercado exige, priorizando as suas necessidades e o ganho de tempo  produtividade para seus clientes.
        </p>

        <p class="text">As vantagens de utilizar o sistema emissor de nota fiscal eletrônica da Soft Clever Informática.</p>

        <p class="text">
          Contando com um método de implantação rápido e suporte eficiente, os clientes contratantes do sistema emissor de nota fiscal eletrônica - Sirius ERP -  usufruem do benefício de utilização imediata após o término da instalação e da fase de testes. A Soft Clever Informática dispõe de mão de obra especializada e qualificada para qualquer tipo de suporte técnico que seja necessário ou para esclarecimento de dúvidas.
        </p>

        <p class="text">
          Ademais, a empresa Soft Clever Informática possui um departamento de desenvolvimento próprio, onde promove diariamente o desenvolvimento e a atualização do seu sistema emissor de nota fiscal eletrônica na busca incessante da evolução tecnológica do produto.
        </p>

        <p class="text">
          O Sirius ERP também processa automaticamente todos os cálculos tributários, permitindo que o usuário possa fazer o uso do sistema com facilidade e sem precisar de especialização na área de contabilidade, perfeito para empresas de micro ou pequeno porte que não possuem todo o orçamento para o contrato de um contador interno ou de mão de obra específica neste ramo.
        </p>
      </div>
    </section>

</main>
