.banner {
  padding: 2rem 3rem;
  display: flex;
  background-color: #F1F1F1;
  gap: 0 120px;

  .left {
    display: flex;

    img {
      width: 30rem;
    }

    div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      text-align: left;

      p {
        font-size: 2rem;
      }

      button {
        width: auto;
        height: auto;
        padding: auto;
        background-color: #F1F1F1;
        border: none;

        a {
          padding: 0.5rem 3rem;
          border: none;
          border-radius: 5px;
          font-size: 1.5rem;
          color: #F1F1F1;
          background-color: #ffa500;
        }
      }
    }
  }

  .list-bottom {
    margin: 1rem;
    list-style-position: inside;
    list-style-type: disc;

    ul li {
      margin: 1rem 0;
      font-size: 15px;
    }
  }

  ul.list-top {
    list-style-position: outside;
    list-style-type: none;

    li {
      margin: 1rem 0;
    }
  }

  ul li strong {
    color: #af0000;
    font-size: 25px;
  }

  @media screen and (max-width:500px) {
    .banner {
      flex-wrap: wrap;
    }

    .left {
      img {
      width: 10rem;
      }
    }
  }
}

@media screen and (max-width:500px) {
  .banner {
    flex-wrap: wrap;
  }
}

.left {

}

.box-videos {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 20px;

  .video {
    max-width: 300px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 5px;

    iframe,
    .iframe-in-box {
      width: 300px;
      border-radius: 5px;
    }
  }
}

#videos .buttons {
  display: flex;
  justify-content: center;
  gap: 5px;

  button {
    margin: 5rem auto;
    background-color: #ffa600;
    border: none;
    width: 15rem;
    height: 3rem;

    a {
      padding: 1rem 1.5rem;
      background-color: #ffa60000;
    }
  }
}
