<section class="be-a-partnership-container">
    <div class="be-a-partnership-title">
        <h2>Seja um parceiro</h2>
    </div>
    <div class="be-a-partnership-image">
        <img width="100%" height="100%" src="assets/images/webp/Parcerias-especiais-com-contabilidades-e-contadores-azul.webp" alt="imagem com texto escrito: parcerias especiais com contabilidades e contadores, ao lado do texto um desenho de aluém com um lapis em uma das maos usando um notebook">
    </div>
    <div class="be-a-partnership-content">
        <div class="content-text">
            <h2>Sistema de Gestão</h2>
            <p class="title-description">
                O Sistema de Gestão Sirius ERP, desenvolvido de forma modular, permite inúmeras
                configurações, possibilitando o atendimento de praticamente todos os perfis de negócios existentes no
                território nacional para pequenas e médias empresas.
            </p>
            <h3>Plataformas</h3>
            <p class="subtitle-description">
                Plataforma completa já disponível no Sistema de Gestão Sirius ERP,
                disponibilizamos nosso corpo técnico para a elaboração de novos recursos com o objetivo de atender
                peculiaridades de cada empresa.
            </p>
            <h3>Suporte Remoto</h3>
            <p class="subtitle-description">
                Suporte remoto on-line. Estamos habilitados a estabelecer conexões seguras com nossos clientes para
                solucionar suas dúvidas em tempo real.
            </p>
            <h3>Equipe</h3>
            <p class="subtitle-description">
                Equipe treinada está apta a resolver em um curto prazo de tempo qualquer
                necessidade dos nossos clientes com as melhores ferramentas do mercado de TI.
            </p>
        </div>
        <div class="content-image">
            <img width="100%" height="100%" src="assets/images/webp/bloco1.webp" alt="uma imagem que da o sentido de versatilidade, onde tudo o que vc precisa esta presente aqui">
        </div>
    </div>
</section>
