.be-a-partnership-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 24px;

    padding: 2% 0;

    width: 100%;

    .be-a-partnership-title {
        display: flex;
        justify-content: center;

        >h2 {
            font-size: 48px;
            font-weight: 700;

            text-align: center;
        }
    }

    .be-a-partnership-image {
        width: 100%;

        >img {
            width: 100%;
        }
    }

    .be-a-partnership-content{
        display: flex;
        
        justify-content: center;


        .content-text {
            width: 50%;
            min-width: 350px;

            padding: 5%;

            >h2 {
                font-size: 2rem;
                font-weight: 700;

                margin-bottom: 24px;
            }

            >h3 {
                font-size: 1.3rem;
                font-weight: 600;

                margin-bottom: 12px;
            }

            >.title-description {
                font-size: 1rem;
                line-height: 2rem;

                margin-bottom: 18px;
            }

            >p {
                margin-bottom: 18px;

                line-height: 1.5rem;
                text-align: justify;
            }


        }

        .content-image {
            width: 50%;

            display: flex;
            justify-content: center;
            align-items: center;
            
            >img {
                width: 350px;
            }
        }
    }

    @media screen and (max-width: 730px){
        .be-a-partnership-content {
            width: 90%;

            flex-direction: column;
            align-items: center;

            padding: 0;
            margin: 0;

            .content-text {
                max-width: 100%;

                margin: 0 auto;
                padding: 0;


                h2 {
                    text-align: center;
                }
            }

            .content-image {
                margin: 24px auto;
            }
        }
    }
}
