.services-faq {
  width: 100%;

  padding: 2% 0;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .text {
    width: 90%;

    h2 {
      margin-bottom: 1rem;

      text-align: center;
    }

    p {
      line-height: 1.5rem;
      text-indent: 1.5em;
      
      text-align: justify;
    }

    ul {
      margin-left: 18px;

      li {
        line-height: 1.5rem;

        text-align: justify;
      }
    }
  }
}