<main>
    <section>
        <app-top-page-content>
            <h1>{{ title }}</h1>
        </app-top-page-content>
    </section>
    <section class="banner">
        <div class="left">
            <img src="../../../../assets/images/png/vendas-2.png" alt="">
        </div>
    
        <div class="right">
            <h2>Envio fácil e rápido de notas fiscais eletrônicas de serviços.</h2>
            <h2>{{ title }}</h2>
            <div>
                <ul class="list-top">
                   
                    <li>Totalmente integrado com a prefeitura</li>
                    <li>Gerada a partir da venda do serviço</li>
                    <li>Geração automática dos títulos para o contas a receber</li>
                    <li>Envio de PDF automático para o cliente via email</li>
                </ul>
            </div>
            <button><a href="#">Solicite Contato ou Agende uma Demonstração</a></button>
        </div>
    </section>

    <section id="videos">
        <app-videos-presentation></app-videos-presentation>

        <div class="buttons">
            <button><a href="#">Apresentação das Soluções</a></button>
            <button><a href="#">Vídeos Demonstrativos</a></button>
        </div>

        <app-services-category></app-services-category>
        <app-cards-category-navigation></app-cards-category-navigation>
    </section>
</main>