<main>
    <app-solutions-title>
        <h1 class="title-top">Vendas - Pedidos – Liberação – Expedição</h1>
    </app-solutions-title>

    <section class="top-content">
        <div class="top-content-container">
            <div class="left-images">
                <div class="image">
                    <img src="assets/images/png/Nota-Fiscal.png" alt="">
                </div>
            </div>
            <div class="right-content">
                <h2 class="right-title">
                    Controlar os orçamentos e pedidos de vendas de sua empresa ficou mais fácil.
                </h2>
                <div class="button-bottom">
                    <button class="contact-button">
                        <a [routerLink]="['/contact']">Solicite contato ou agende uma demonstração</a>
                    </button>
                </div>
            </div>

        </div>
    </section>

    <app-videos-presentation></app-videos-presentation>
    <app-videos-sat></app-videos-sat>
    <app-buttons-to-know-more></app-buttons-to-know-more>
    <section class="pre-sell">
        <ul class="pre-sell-list">
            <h2>Envie um orçamento ao seu cliente e, em seguida, gere um pedido de venda</h2>
            <li>Geração de pedidos</li>
            <li>Geração de orçamentos</li>
            <li>Geração de transferência</li>
            <li>Controle de entrega parcial</li>
            <li>Separação de entregas com elaboração de romaneio de carga</li>
            <li>Geração de ordem de produção a partir do pedido</li>
            <li>Geração de nfe (nota fiscal eletrônica) a partir do pedido</li>
            <li>Geração de nfe´s parciais com controle de saldo a faturar</li>
            <li>Múltiplos status de pedido</li>
            <li>Cancelamento de pedido</li>
            <li>Troca e devolução de mercadoria com geração de crédito ao cliente</li>
            <li>Reserva de produtos</li>
            <li>Controle de lote na venda</li>
            <li>Baixa de estoque na realização do pedido</li>
            <li>Envio dos títulos ao contas a receber na realização do pedido</li>
            <li>Controla movimentações financeiras para clientes que não pagam no momento do recebimento da mercadoria
                (fiado)</li>
            <li>Controle de comissões</li>
            <li>Liberação de Pedidos</li>
            <li>Expedição de Pedidos</li>
            <li>Romaneio de Entrega</li>
            <li>Impressão;</li>
            <ul class="integrated-list">
                <li>Recibo de entrega, etiquetas, pedidos e orçamentos</li>
                <li>Curva ABC de produtos, clientes, vendedores e outros</li>
                <li>Demonstrativos de vendas, custos e gross margem</li>
            </ul>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>
    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>