<main>
    <app-solutions-title>
        <h1 class="title-top">Vendas - Pedidos – Liberação – Expedição</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/webp/Nota-Fiscal.webp" alt="Um homem branco com oculos e camisa social segurando com a mao um notebook mostrando um grafico pizza" class="image">
        <h2 class="right-title">
            Controlar os orçamentos e pedidos de vendas de sua empresa ficou mais fácil.
        </h2>
    </app-reduced-top-content>

    <app-videos-presentation></app-videos-presentation>
    <div class="box-videos">
        <div class="video">
            <p>Conheça nossos módulos principais em
                apenas 1 minuto.</p>
            <iframe id="ytplayer" src="https://www.youtube.com/embed/T87FxxWCDJs?rel=0&amp;showinfo=0" frameborder="0"
                allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="video">
            <p>Conheça nosso módulo Pedido/Orçamento para Atacado/Distribuição com emissão de NF-e em pouco mais de 2
                minutos.</p>
            <iframe id="ytplayer" src="https://www.youtube.com/embed/5fQoJMgGqC0?rel=0&amp;showinfo=0" frameborder="0"
                allowfullscreen="allowfullscreen"></iframe>
        </div>

        <div class="video">
            <p>Veja como emitir uma Nf-e em apenas
                1 minuto.</p>
            <iframe id="ytplayer" src="https://www.youtube.com/embed/flk9FVOJXmE?rel=0&amp;showinfo=0" frameborder="0"
                allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
    <app-buttons-to-know-more></app-buttons-to-know-more>

    <section class="pre-sell">
        <ul class="pre-sell-list">
            <h2>Envie um orçamento ao seu cliente e, em seguida, gere um pedido de venda</h2>
            <li>Geração de pedidos</li>
            <li>Geração de orçamentos</li>
            <li>Geração de transferência</li>
            <li>Controle de entrega parcial</li>
            <li>Separação de entregas com elaboração de romaneio de carga</li>
            <li>Geração de ordem de produção a partir do pedido</li>
            <li>Geração de nfe (nota fiscal eletrônica) a partir do pedido</li>
            <li>Geração de nfe´s parciais com controle de saldo a faturar</li>
            <li>Múltiplos status de pedido</li>
            <li>Cancelamento de pedido</li>
            <li>Troca e devolução de mercadoria com geração de crédito ao cliente</li>
            <li>Reserva de produtos</li>
            <li>Controle de lote na venda</li>
            <li>Baixa de estoque na realização do pedido</li>
            <li>Envio dos títulos ao contas a receber na realização do pedido</li>
            <li>Controla movimentações financeiras para clientes que não pagam no momento do recebimento da mercadoria
                (fiado)</li>
            <li>Controle de comissões</li>
            <li>Liberação de Pedidos</li>
            <li>Expedição de Pedidos</li>
            <li>Romaneio de Entrega</li>
            <li>Impressão;</li>
            <ul class="integrated-list">
                <li>Recibo de entrega, etiquetas, pedidos e orçamentos</li>
                <li>Curva ABC de produtos, clientes, vendedores e outros</li>
                <li>Demonstrativos de vendas, custos e gross margem</li>
            </ul>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>

    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>
