<main>
    <app-solutions-title>
        <h1 class="title-top">Software de Gestão Empresarial</h1>
    </app-solutions-title>


    <section class="top-content">
        <div class="top-content-container">
            <div class="left-images">
                <div class="container">
                    <img src="assets/images/webp/gestao.webp" alt="varias pessoas reunidas em uma mesa olhando para você, como se estivessem em reunião e você estivesse falando algo">
                </div>
                <div class="container">
                    <div class="button-bottom">
                        <button class="contact-button">
                            <a [routerLink]="['/contact']">Solicite contato ou agende uma demonstração</a>
                        </button>
                        <button class="chart-button">
                            <a [routerLink]="['/chart']">Veja o organograma do Sistema</a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <h2>Sistema ERP</h2>
                <ul class="list-top">

                    <li>Milhares de clientes atendidos desde 1994.</li>
                    <li>Atende varejo, indústria, atacado e serviços de todos os tamanhos.</li>
                    <li>Sistema Sirius ERP – Gestão Empresarial.</li>
                    <li>Condições para contratação mensal do pacote.</li>
                    <li>Taxa única de implantação: R$ 0,00 + R$ 359,90 mensais</li>
                    <li>Condições para contratação anual do pacote.</li>
                    <li>Sem taxa de implantação e desconto de até 30% para pagamento a vista.</li>
                </ul>

                <h2>Consulte Também</h2>

                <ul>
                    <li>Sistema Sirius S@T Varejo.</li>
                    <li>Sirius APP Pré-venda.</li>
                    <li>Sirius APP Comanda.</li>
                    <li>Sirius Delivery.</li>
                    <li>Sirius Web Lojas.</li>
                    <li>Sirius Integração Market Place – Mercado Livre.</li>
                    <li>Sirius Integração Cartão de Crédito.</li>
                    <li>Pacotes exclusivos para NFE de baixo custo.</li>
                    <li>Integração de NF-e, S@T e NFC-e com outros sistemas.</li>
                    <li>Parcerias com contabilidades, empresas de software e hardware.</li>
                    <li>Sem contrato de fidelidade para planos mensais.</li>
                </ul>

            </div>
        </div>

    </section>

    <app-videos-presentation></app-videos-presentation>

    <div class="box-videos">
        <div class="video">
            <p>Conheça nossos módulos principais em
                apenas 1 minuto.</p>
            <iframe id="ytplayer" src="https://www.youtube.com/embed/T87FxxWCDJs?rel=0&amp;showinfo=0" frameborder="0"
                allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="video">
            <p>Conheça nosso módulo Pedido/Orçamento para Atacado/Distribuição com emissão de NF-e em pouco mais de 2
                minutos.</p>
            <iframe id="ytplayer" src="https://www.youtube.com/embed/5fQoJMgGqC0?rel=0&amp;showinfo=0" frameborder="0"
                allowfullscreen="allowfullscreen"></iframe>
        </div>

        <div class="video">
            <p>Veja como emitir uma Nf-e em apenas
                1 minuto.</p>
            <iframe id="ytplayer" src="https://www.youtube.com/embed/flk9FVOJXmE?rel=0&amp;showinfo=0" frameborder="0"
                allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
    <app-buttons-to-know-more></app-buttons-to-know-more>

    <section>
        <div class="top-section">
            <span class="intro-title">
                <h2 class="line-red">Veja abaixo pacotes promocionais.</h2>
            </span>
            <span class="intro-title">
                <h2 class="line-blue">Sírius-ERP</h2>
            </span>
        </div>
        <section class="promo-erp">
            <h1>Pacote Promocional Sírius - ERP.</h1>

            <h2>Suporte Remoto</h2>
            <p>
                Suporte remoto on-line. Estamos habilitados a estabelecer conexões seguras com nossos clientes para
                solucionar suas dúvidas em tempo real. Equipe treinada está apta a resolver em um curto prazo de tempo
                qualquer necessidade dos nossos clientes com as melhores ferramentas do mercado de tecnologia.
                Suporte remoto ilimitado concedido de segunda a sexta-feira das 08h00 ás 18h00, exceto feriados.
            </p>

            <h3>Itens que estão inclusos:</h3>

            <ul>
                <li>Configuração e preparação do Banco de Dados.</li>
                <li>Instalação remota do sistema em um terminal.</li>
                <li>Treinamento remoto para 1 colaborador com duração de 1 hora por módulo.</li>
                <li>Atualizações para correções.</li>
            </ul>


            <h2>Cadastros:</h2>

            <ul>
                <li>Controle completo dos cadastros de Clientes, Fornecedores, Produtos e Transportadores.</li>
                <li>Diversos relatórios utilizando os dados cadastrados e que podem ser gerados a partir do filtro
                    escolhido.</li>

            </ul>

            <h2>Compras:</h2>
            <ul>
                <li>Pedidos de compra de matérias primas ou produtos acabados.</li>
                <li>Módulo totalmente integrado com o estoque e financeiro.</li>
                <li>Entrada detalhada - Leitura do XML da NFE-e do fornecedor</li>
                <li>Requisição e cotação de compras</li>
                <li>Cadastro de Produtos e saldos atualizados automaticamente - Disponível junto acontratação de leitura
                    de XML.</li>
                <li>Módulo totalmente integrado com o estoque e financeiro - Disponível para todas as contratações.</li>
                <li>Também é possível integrar com Sped Fiscal de ICMS e IPI - á consultar.</li>
            </ul>


            <h2>Vendas:</h2>

            <ul>
                <li>Emissão de Pedidos de Vendas, Orçamentos, Transferências e Comissões Simplificadas.</li>
                <li>Emissão de Nota Fiscal Eletrônica (NF-e) com envio, autorização e retorno junto a Sefaz, rotinas de
                    cancelamento e inutilização por faixa de número, carta de correção, geração automática e envio de
                    e-mail com
                    XML e PDF, configurações de diversos tipos de operações com cálculo automático de impostos,
                    pré-visualização
                    e impressão do DANFE e opções de relatórios fiscais.</li>
                <li>Manifestação dos Documentos Fiscais (MDF-e).</li>
                Emissão de Cupom Fiscal Eletrônico (SAT Fiscal) com Vendas no Atacado e Varejo.
                <li>Nota Fiscal Consumidor Eletrônico (NFC-e) com Vendas no Atacado e Varejo.</li>
                <li>Controle de Entregas.</li>
                <li>Controle de Reserva.</li>
                <li>Liberação de Pedidos.</li>
                <li>Expedição de Pedidos.</li>
                <li>Controle do Comercial Completo com Controle de Comissões e Total de Vendas por período (módulo
                    externo).</li>
                <li>Controle de Comandas e Delivery para Restaurantes, Bares e Lanchonetes.</li>
                <li>Notas Fiscais de Serviços.</li>
                <li>Manifestação dos Documentos Fiscais (MDF-e) - Disponível para todas as contratações.</li>
            </ul>


            <h2>Financeiro:</h2>

            <ul>
                <li>Controle de Contas a Pagar com lançamentos automáticos a partir dos Pedidos de Compras. - Disponível
                    para todas as contratações.</li>
                <li>Controle de Contas a Receber com lançamentos automáticos a partir do Módulo de Vendas. - Disponível
                    para todas as contratações.</li>
                <li>Conciliações Bancárias simplificadas. - Disponível para todas as contratações.</li>
                <li>Relatórios gerenciais a partir dos lançamentos. - Disponível para todas as contratações.</li>
                <li>Sispag – Integração entre o contas a pagar e a instituição bancária - á consultar.</li>
            </ul>

            <h2>Produção:</h2>

            <ul>


                <li>Geração de ordem de produção a partir do pedido de venda - á consultar.</li>
                <li>Geração de ordem de produção para estoque - á consultar.</li>
                <li>Controle por grade simples ou grade composta para confecções - á consultar.</li>
                <li>Controle de fases de produção - á consultar.</li>
                <li>Baixa automática das matérias primas conforme estrutura do produto - á consultar.</li>
                <li>Carga automática no estoque do produto acabado após encerramento da produção - á consultar.</li>
                <li>Impressão de Ordem de produção - á consultar.</li>
                <li>Status da produção - á consultar.</li>
                <li>Ficha de corte - á consultar.</li>
                <li>Ficha técnica do produto que permite exportação para Excel - á consultar.</li>
                <li>Ordens de serviços - á consultar.</li>
            </ul>

            <h2>Importante:</h2>
            Este pacote não permite qualquer tipo de customização no sistema.
        </section>

    </section>

    <app-services-category></app-services-category>

    <section class="description">
        <h1>Sistema/Software de Gestão Empresarial</h1>

        <p>
            O Sistema/Software de Gestão Empresarial facilita o fluxo de informações entre todos os setores da empresa,
            tais como; produção, compras, vendas, financeiro e afins.</p>
        <p>
            O Sistema/Software de Gestão Empresarial consiste em cruzar e distribuir automaticamente as informações
            entre os setores de uma empresa. A vantagem de um Sistema/Software de Gestão Empresarial está na
            simplicidade de, através de uma única inserção de dados, obter diversos resultados. Por exemplo: Um vendedor
            gera um orçamento, em seguida, transforma este orçamento em pedido de venda. Neste caso, não foi necessário
            redigitar. O pedido de venda gerado fica aguardando autorização para faturamento, uma vez autorizado, fica
            aguardando expedição. Após expedido e faturado, os produtos vendidos são automaticamente baixados do
            estoque. Na fase seguinte, o Sistema/Software de Gestão Empresarial gera automaticamente a comissão do
            vendedor e envia os títulos referentes a venda para o contas a receber, e assim por diante. Essa é a
            filosofia de um Sistema/Software de Gestão Empresarial, ou seja, integrar os departamentos.</p>
        <p>
            Cada Sistema/Software de Gestão Empresarial oferece pacotes que incluem conjuntos de módulos. Normalmente
            esses pacotes podem ser adquiridos ou locados parcialmente. Existem casos onde os pacotes são orientados a
            setores específicos, como por exemplo; laboratórios, transportadoras, comércios varejistas, indústrias, etc.
            Quando um gestor de uma empresa analisa a compra de um Sistema/Software de Gestão Empresarial, logo cria-se
            o cenário de que há necessidade da contratação de um grande Sistema/Software de Gestão Empresarial, no
            entanto, é possível por exemplo adquirir um produto voltado para área varejista. Neste caso, trata-se de um
            Sistema/Software de Gestão Empresarial enxuto com opções voltadas somente para comércio varejista, sem
            opções para indústria ou comércio atacadista. Isso gera economia de recursos ao empresário, pois investe de
            forma direta, adquirindo um Sistema/Software de Gestão Empresarial compatível com suas necessidades.</p>
        <p>
            Outra mudança significativa no mercado de Sistema/Software de Gestão Empresarial é seu método de
            comercialização. Atualmente, é possível fazer a “locação”. Neste, basta pagar as mensalidade de uso do
            produto sem compromisso de compra.</p>
        <p>
            A Soft Clever possui soluções para todos os tamanhos e necessidades. Experimente o Sírius ERP.</p>
    </section>

    <app-cards-category-navigation></app-cards-category-navigation>

    <app-second-footer></app-second-footer>

    <section class="text-content">
      <div class="box-text">

        <p class="text">Sistema ERP de Gestão Empresarial</p>

        <p class="text">Com a tecnologia implantada nos mais diversos segmentos do mercado, surge diferentes modelos de sistemas
          inovados, que são ideias para empresas, indústrias, distribuidoras, comércio e muito mais. Um sistema ERP de
          Gestão Empresarial é muito utilizado nos estabelecimentos que buscam melhor organização e facilidade em todas as
          suas atividades diárias.</p>

        <p class="text">Além disso, um sistema ERP de Gestão Empresarial apresenta diversas vantagens, como o aumento da produtividade
          da empresa, satisfação dos profissionais e também dos clientes, aumento da lucratividade da empresa, otimização
          do tempo gasto de trabalho e diversas outras. A Soft Clever Informática é uma empresa de exemplo, que fornece
          esse sistema para muitos tipos de empresas.</p>

        <p class="text">Se você está em busca de garantir melhorias, segurança e qualidade para o seu estabelecimento, adquira um
          sistema ERP de Gestão Empresarial, que possui diversas funcionalidades, ferramentas, cadastros e outras
          particularidades, indicadas para as operações de cada empresa, podendo ela ser de micro, pequeno ou médio porte.
        </p>

        <p class="text">O que exatamente faz um sistema ERP de Gestão Empresarial?</p>

        <p class="text">O sistema ERP de Gestão Empresarial realiza o faturamento, compras, fiscal, fluxo de caixa, administração e
          outras atividades, incluindo também contas a pagar, a receber e tarefas muito utilizadas também em indústrias,
          como processos de produção e atende diversas particularidades de cada tipo de empresa, independentemente de seu
          segmento.</p>

        <p class="text">Para adquirir um sistema ERP de Gestão Empresarial, é imprescindível que sua empresa tenha conhecimento sobre
          todas as suas operações, para que esse sistema consiga atuar da melhor forma, atendendo todas as suas
          necessidades e suprindo as suas expectativas. Sendo assim, atividades de faturamento, apuração de impostos,
          compras, vendas e outros, fazem parte desse sistema.</p>

        <p class="text">Ademais, todas as operações efetuadas em uma empresa podem ser encontradas em um sistema ERP de Gestão
          Empresarial, que possuem dados armazenados, onde é possível configurar todo o sistema e também personalizá-lo da
          melhor forma para a sua empresa, trazendo assim resultados mais que suficientes para alavancar o seu negócio.
        </p>

        <p class="text">Por que optar pelo serviço da Soft Clever Informática?</p>

        <p class="text">Há cerca de 24 anos, visando a satisfação do cliente sempre em primeiro lugar, a Soft Clever Informática
          fornece sistemas de qualidade para todos os seus clientes, pois suas ferramentas estão preparadas para que o
          departamento de faturamento de sua empresa atenda todas as normas legais com relação às suas atividades,
          portanto, o seu sistema ERP de Gestão Empresarial é a melhor solução para o mercado atual.</p>
      </div>
    </section>

</main>
