<main>
  <app-solutions-title>
    <h1 class="title-top">Suporte</h1>
  </app-solutions-title>

  <app-reduced-top-content>
    <img
      src="assets/images/webp/orcamento.webp"
      alt="imagem de uma mão feminina digitando em uma calculadora"
      class="image"
    />
    <h2 class="right-title">
      Controle detalhado dos orçamentos de sua empresa.
    </h2>
  </app-reduced-top-content>

  <section class="downloads-container">
    <div class="title">
      <h2>Baixar ferramentas para acesso remoto</h2>
    </div>

    <div class="downloads">
      <div class="download">
        <button>
          <a href="https://download.anydesk.com/AnyDesk.exe" rel="noopener">
            AnyDesk
          </a>
        </button>
      </div>
      <div class="download">
        <button>
          <a href="https://www.ammyy.com/pt/downloads.html" rel="noopener">
            Ammyy
          </a>
        </button>
      </div>
    </div>
  </section>

  <app-support-carrousel>
    [cards] = [
      ["assets/images/webp/Sat.webp",       "SAT- Pré Venda – Delivery – Comanda"],
      ["assets/images/webp/buying.webp",    "Vídeos Demonstrativos"],
    ]
  </app-support-carrousel>
</main>