<main>
  <section class="page-comp">
    <div class="left">
      <h2>Suporte</h2>
    </div>

    <div class="right">
      <p>
        Adquira o melhor custo x <br>
        benefício para sua empresa
      </p>

      <button>
        <a href="#">Solicite contato ou
          agende uma demonstração</a>
      </button>
    </div>


  </section>




  <section class="banner">
    <img src="../../../assets/images/webp/sobrenos.webp" alt="">
    <div>
      <p>Através de uma seleção de arquivos que disponibilizamos para download, ficou ainda mais fácil utilizar os
        módulos
        do Sistema Sirius</p>

      <button><a href="#">Solicite Contato</a></button>
    </div>
  </section>

  <section class="downloads">
    <div class="download">
      <p>LINK direto do AnyDesk</p>
      <button><a href="#">Download</a></button>
    </div>

    <div class="download">
      <p>Ferramenta Padrão de Acesso Remoto</p>
      <button><a href="#">Download</a></button>
    </div>

    <div class="download">
      <p>Ferramenta Reserva de Acesso Remoto</p>
      <button><a href="#">Download</a></button>
    </div>

    <div class="download">
      <p>Logmein - Programa para suporte remoto</p>
      <button><a href="#">Download</a></button>
    </div>

    <div class="download">
      <p>Show - Programa para suporte remoto</p>
      <button><a href="#">Download</a></button>
    </div>

    <div class="download">
      <p>Team Viewer - Programa para suporte remoto</p>
      <button><a href="#">Download</a></button>
    </div>
  </section>

  <section class="our-solutions">
    <div class="content">
      <h2>Nossas Soluções</h2>

      <div class="cards">
        <div class="card">
          <img src="../../../assets/images/webp/Sat.webp" alt="">
          <div>
            <p>SAT-Pré Venda -</p>
            <p>Delivery - Comanda</p>

            <button><a href="#">Saiba Mais</a></button>
          </div>
        </div>

        <div class="card">
          <img src="../../../assets/images/webp/Sat.webp" alt="">
          <div>
            <p>SAT-Pré Venda -</p>
            <p>Delivery - Comanda</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>