<main>
  <app-solutions-title>
    <h1 class="title-top">Suporte</h1>
  </app-solutions-title>

  <app-reduced-top-content>
    <img
      src="assets/images/webp/orcamento.webp"
      alt="imagem de uma mão feminina digitando em uma calculadora"
      class="image"
    />
    <h2 class="right-title">
      Controle detalhado dos orçamentos de sua empresa.
    </h2>
  </app-reduced-top-content>

  <section class="downloads-container">
    <div class="title">
      <h2>Baixar ferramentas para acesso remoto</h2>
    </div>

    <div class="downloads">
      <div class="download">
        <button>
          <a href="https://download.anydesk.com/AnyDesk.exe" rel="noopener">
            AnyDesk
          </a>
        </button>
      </div>
      <div class="download">
        <button>
          <a href="https://www.ammyy.com/pt/downloads.html" rel="noopener">
            Ammyy
          </a>
        </button>
      </div>
    </div>
  </section>

  <section class="our-solutions">
    <div class="content">
      <h2>Nossas Soluções</h2>

      <div class="cards">
        <div class="card">
          <img
            src="assets/images/webp/Sat.webp"
            alt="Imagem representando ganhar dinheiro"
          />
          <div class="card-right-content">
            <div class="card-text">
              <p>SAT - Pré Venda</p>
              <p>Delivery - Comanda</p>
            </div>
            <div class="card-button">
              <button>
                <a href="/restaurante">Saiba Mais</a>
              </button>
            </div>
          </div>
        </div>

        <div class="card">
          <img
            src="assets/images/webp/orcamento-icone.webp"
            alt="2 Monitores de computador posicionados um de frente para o outro com 1 mão saindo de cada monitor praticamente se encontrando uma com a outra, uma mão segura uma sacola representando a entrega de produtos e a outra mão segura um cartão de banco representando a garantia do sistema de pagamentos."
          />
          <div class="card-right-content">
            <div class="card-text">
              <p>Vídeos Demonstrativos</p>
            </div>
            <div class="card-button">
              <button>
                <a href="/presentation">Saiba Mais</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
