.banner {
  padding: 2rem 3rem;
  display: flex;

  background-color: #F1F1F1;
  gap: 0 120px;

  img {
    width: 50%;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;

    p {
      font-size: 2rem;
    }

    button {
      width: 12rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f1f1f100;
      border: none;


      a {
        width: 100%;
        height: 100%;
        line-height: 2rem;
        border: none;
        border-radius: 5px;
        font-size: 1.5rem;
        color: #F1F1F1;
        background-color: #ffa500;
      }
    }

    @media screen and (max-width:1010px) {
      p {
        font-size: 1.2rem;
      }

      button {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width:700px) {
  .banner {
    img {
      width: 20%;
    }
  }
}

@media screen and (max-width:500px) {
  .banner {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    img {
      width: 50%;
    }

    div {
      justify-content: center;
      text-align: center;
      flex-direction: column;

      button {
        margin: auto;
      }
    }
  }
}

.downloads {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .download {
    margin: 2rem auto;
    text-align: center;
    width: 25rem;
    height: 5rem;
    flex-wrap: wrap;
    font-size: 18px;

    button {
      margin: 2rem 0;
      border: none;
      background-color: #f1f1f100;
    }

    a {
      padding: 1rem 8rem;
      background-color: #2AA0EF;
      border-radius: 5px;
      color: #F1F1F1;
      font-size: 18px;
    }
  }
}

.our-solutions {
  width: 100%;

  display: flex;
  background-color: #F1F1F1;

  .content {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;

    .cards {
      margin: 2rem 0;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .card {
        width: 100%;

        display: flex;
        justify-content: space-between;

        background-color: #ffffff;

        .card-right-content {
          width: 100%;

          display: flex;

          justify-content: space-around;
          align-items: center;

          .card-text {
            display: flex;
  
            flex-direction: column;
            justify-content: center;
  
            line-height: 2rem;
          }
  
          .card-button {
            display: flex;
  
            justify-content: center;
            align-items: center;
  
            button {
              background-color: #ffffff00;
              border: none;
  
              a {
                padding: 1rem;
                background-color: #2AA0EF;
              }
            }
          }
        }

      }
    }
  }
}