<main>
    <app-top-content>
        <h1 class="title">NFC-e – Pré Venda – Delivery – Comandas</h1>

        <img class="image-top" src="assets/images/webp/aparelhos.webp"
            alt="Equipamento para venda, computador com tela embutida junto ao equipamento sat e um teclado com tres balões a direita da foto o primeiro escrito SAT, o segundo logo abaixo do primeiro esta escrito Nota Fiscal Paulista, e o ultimo balão abaixo do segundo contém uma imagem de uma maquininha de cartão">

        <img class="image-bottom" src="assets/images/webp/Desenho-com-texto-pg-solucoes.webp"
            alt="Uma mulher cartoon, loira, vestindo avental vermelho e roupas brancas, de cabelo preso, no centro da imagem, com diversas soluções em sua volta. Acima uma nuvem e computadores ligados a ela escrito: 'Gestão de Loja Via Internet', seguindo no sentido horário uma impressora de nota fiscal e um servidor escrito: 'Integrado com S@T Fiscal e Nota Fiscal Paulista'">

    </app-top-content>

    <app-videos-presentation></app-videos-presentation>
    <app-videos-sat></app-videos-sat>


</main>
