<main>
    <app-top-page-content>
        <h1>{{ title }}</h1>
    </app-top-page-content>

    <section class="banner">
        <div class="left">
            <img src="assets/images/webp/aparelhos.webp" alt="Equipamento para venda, computador com tela embutida junto ao equipamento sat e um teclado com tres balões a direita da foto o primeiro escrito SAT, o segundo logo abaixo do primeiro esta escrito Nota Fiscal Paulista, e o ultimo balão abaixo do segundo contém uma imagem de uma maquininha de cartão">
            <img src="assets/images/webp/Desenho-com-texto-pg-solucoes.webp" alt="Uma mulher cartoon, loira, vestindo avental vermelho e roupas brancas, de cabelo preso, no centro da imagem, com diversas soluções em sua volta. Acima uma nuvem e computadores ligados a ela escrito: 'Gestão de Loja Via Internet', seguindo no sentido horário uma impressora de nota fiscal e um servidor escrito: 'Integrado com S@T Fiscal e Nota Fiscal Paulista'">

            <div class="buttons">
                <button><a id="b1" href="#">Solicite contato ou agende uma demostração</a></button>
            </div>
        </div>

        <div class="right">
            <div>
                <ul class="list-top">
                    <li><img src="assets/images/webp/seta-azul-10px.webp" alt=""> Versão básica a partir de
                        <strong>R$ 127,90</strong> mensais. No plano anual, com desconto para pagamento a vista, sua
                        mensalidade equivalerá a <strong>R$ 89,53</strong>. Consulte condições para este e outros pacotes
                        disponíveis.</li>
                    <li><img src="assets/images/webp/seta-azul-10px.webp" alt=""> Não cobramos pela cópia do
                        sistema.</li>
                    <li><img src="assets/images/webp/seta-azul-10px.webp" alt=""> Atende todo tipo de comércio e
                        serviço em todo o território nacional.</li>
                    <li><img src="assets/images/webp/seta-azul-10px.webp" alt=""> Pode ser integrado ao seu
                        sistema atual.</li>
                    <li><img src="assets/images/webp/seta-azul-10px.webp" alt=""> O Sirius S@T é indicado por
                        centenas de contabilidades e é homologado.</li>
                    <li><img src="assets/images/webp/seta-azul-10px.webp" alt=""> Recursos e serviços disponíveis
                        de acordo com o pacote contratado. Consulte nosso departamento comercial para obter mais
                        informações.</li>
                </ul>

                <ul>
                    <li>Versão NORMAL e versão TOUCH SCREEN*</li>
                    <li>Instalação, treinamento e suporte via acesso remoto ou no estabelecimento do cliente*</li>
                    <li>Combo impressora + S@T fiscal a partir de R$ 1.249,00*</li>
                    <li>Permite integração (versão intermediária em diante)</li>
                    <li class="list-bottom">
                        <ul>
                            <li>Sirius APP Pré-venda – Pedido de venda através do celular</li>
                            <li>Sirius APP Comanda – Comanda de venda através do celular ou computador para restaurantes,
                                padarias, pizzarias e entretenimento em geral</li>
                            <li>Sirius WEB lojas – Cadastro de produtos, saldos de estoque, conferência de vendas e de
                                movimentação de caixa. Tudo online. Controla várias filiais</li>
                            <li>Sirius Delivery – Entregas para comércio em geral</li>
                            <li>Sirius ERP – Sistema completo de gestão empresarial</li>
                            <li>Mercado Livre – integre suas vendas e estoque on line</li>
                            <li>Cartão de crédito e TEF*</li>
                        </ul>
                    </li>
                    <li>Balanças eletrônicas e impressão de etiquetas*</li>
                    <li>Pacotes com e sem prazo de fidelidade*</li>
                </ul>

                <p>
                    * Consulte disponibilidade para o pacote de seu interesse junto ao nosso departamento comercial.
                </p>
            </div>
        </div>
    </section>

    <section>
        <app-videos-presentation></app-videos-presentation>
        <app-videos-sat></app-videos-sat>
    </section>
</main>
