<main>
    <app-top-page-content>
        <h1>{{ title }}</h1>
        <p>Pagar - Receber - Boletos - Bancos</p>
    </app-top-page-content>

    <section class="banner">
        <div class="left">
            <img src="assets/images/webp/confeccao.webp" alt="imagem de uma mulher branca com cabelo castanho amarrado para tras utilizando uma maquina de costura">
        </div>

        <div class="right">
            <div>
                <ul class="list-top">

                   <p>
                    Controle de sua produção com explosão de matérias primas, saldos de estoque e lotes.</p>
                </ul>
            </div>
            <button><a href="#">Solicite Contato ou Agende uma Demonstração</a></button>
        </div>
    </section>

    <section id="videos">
        <app-videos-presentation></app-videos-presentation>

        <div class="buttons">
            <button><a href="#">Apresentação das Soluções</a></button>
            <button><a href="#">Vídeos Demonstrativos</a></button>
        </div>
    </section>

    <section>
        <p>
            Gerencie seu contas a receber e sua cobrança</p>
        <ul class="list-bottom">
            <li>Geração de ordem de produção a partir do pedido de venda</li>
            <li>Geração de ordem de produção para estoque</li>
            <li>Controle por grade simples ou grade composta</li>
            <li>Controle de fases de produção</li>
            <li>Baixa automática das matérias primas conforme estrutura do produto</li>
            <li>Carga automática no estoque do produto acabado após encerramento da produção</li>
            <li>Permite realizar remessa de matérias primas ou produtos semi acabados a terceiros</li>
            <li>Controla retorno de matérias primas ou produtos semi acabados, inclusive saldos</li>
            <li>Estoque em poder de terceiros</li>
            <li>Envia pagamento a terceiros para o contas a pagar</li>
            <li>Impressão;</li>
            <li>Ordem de produção</li>
            <li>Status da produção</li>
            <li>Ficha de corte</li>
            <li>Ficha técnica do produto</li>
            <li>Permite exportação para Excel</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>

    <section class="content section-videos">
        <h2>Varejo em geral. Versões Desktop e Celular.</h2>

       <div class="box-videos"><!--Line 1-->
            <div class="video">
                <p>Conheça o Sirius Ordem de Produção em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="600" height="357" src="https://www.youtube.com/embed/VK8hf9yDxys" title="Sírius Ordem de Produção" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section>
        <app-services-category></app-services-category>
        <app-cards-category-navigation></app-cards-category-navigation>
    </section>
</main>
