.top-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .top-content-container {
    display: flex;


    justify-content: center;
    align-items: center;

    background-color: #f1f1f1;

    >div {
      width: 50%;
      height: 100%;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;
    }

    .left-images {
      justify-content: center;

      .image {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        >img {
          max-width: 10%;
        }
      }
    }

    .right-content {
      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

      gap: 36px;

      .right-title {
        text-align: center;
      }

      .button-bottom {

        width: 100%;
        height: 70px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #F1F1F1;

        .contact-button {
          background-color: #FF6E00;
          border-radius: 5px;
          border: 0;

          padding: 20px;

          >a {
            font-size: 16px;
            color: white;
          }
        }
      }

    }
  }

  @media screen and (max-width:500px) {
    .top-content-container {
      width: 100%;
      flex-direction: column;

      .left-images {
        justify-content: center;
        width: 100%;

        .image {
          width: 100%;

          ::ng-deep {
            img.image{
              width: 100%;
            }
          }
        }
      }

      .right-content {
        width: 80%;
      }
    }
  }
}
