.buttons {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;

  gap: 20px;

  margin: 2% 0;

  >button {
    width: 15rem;
    height: 3rem;
    background-color: #f0f8ff00;
    border: none;

    >a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #FF6E00;
      width: 100%;
      height: 100%;
    }

    >a#b2 {
      background-color: #4DC247;
    }
  }
}

@media screen and (max-width:500px){
  .buttons{
    flex-direction: column;
    margin: 2% 0;

    >button {
      margin: 0;
      width: 15rem;
      height: 3rem;
    }
  }
}
