.buttons {
    display: flex;
    justify-content: center;
    flex-basis: auto;

    >button {
        margin: 4rem;
        background-color: #f0f8ff00;
        border: none;

        >a {
            background-color: #FF6E00;
            padding: 1.5rem 5rem;
        }

        >a#b2 {
            background-color: #4DC247;
        }
    }
}