<main>
    <app-solutions-title>
        <h1 class="title-top">Organograma do Sistema</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/webp/servico1.webp" alt="" class="image">
        <h2 class="right-title">
            Veja o Organograma do Sistema Sirius ERP e conheça a gama de recursos, rotinas, filtros, módulos e
            relatórios que o sistema disponibiliza.
        </h2>
    </app-reduced-top-content>

    <app-videos-presentation></app-videos-presentation>
    <app-buttons-to-know-more></app-buttons-to-know-more>

    <section class="promo-erp">
        <h1>Ordens de Serviços</h1>

        <ul>
            <li>Entrada do equipamento a ser consertado.</li>
            <li>Geração e emissão de orçamentos.</li>
            <li>Geração e emissão de ordem de serviço.</li>
            <li>Aprovação de orçamento / serviço e envio para pedido de venda.</li>
            <li>Baixa do estoque das peças utilizadas.</li>
            <li>Diversos tipos de controles e status.</li>
            <li>Diversos filtros e relatórios.</li>
            <li>Exportação para Excel.</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>


    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>