<main>
    <app-solutions-title>
        <h1 class="title-top">Ordens de Serviços – Assistência Técnica</h1>
    </app-solutions-title>
    <app-reduced-top-content>
        <img src="assets/images/webp/servico1.webp" alt="imagem de tres homens um ao lado do outro olhando para você e o do meio esta apontando para você, como se estivesse te escolhendo para algo" class="image">
        <h2 class="right-title">
            Tenha total controle de suas ordens de serviços: status, entradas, saídas, peças utilizadas e muito mais.
        </h2>
    </app-reduced-top-content>

    <app-videos-presentation></app-videos-presentation>
    <app-buttons-to-know-more></app-buttons-to-know-more>

    <section class="promo-erp">
        <h1>Ordens de Serviços</h1>

        <ul>
            <li>Entrada do equipamento a ser consertado.</li>
            <li>Geração e emissão de orçamentos.</li>
            <li>Geração e emissão de ordem de serviço.</li>
            <li>Aprovação de orçamento / serviço e envio para pedido de venda.</li>
            <li>Baixa do estoque das peças utilizadas.</li>
            <li>Diversos tipos de controles e status.</li>
            <li>Diversos filtros e relatórios.</li>
            <li>Exportação para Excel.</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>

    <section class="content">
        <div class="box-videos">
            <div class="video-main">
                <h4>Conheça o Sirius Assistência Técnica em apenas 01 minuto.

                </h4>
                <p></p>
                <iframe src="https://www.youtube.com/embed/H4qdSEQoRHI" title="Sirius Assistência Técnica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>
