<section class="cards-container">
    <div class="card card-yellow">
        <i class="fa-solid fa-video"></i>
        <p>Informações completas sobre nosso sistema.</p>
        <div class="button-container">
            <button>
                <a (click)="execute()" [routerLink]="['/solutions/erp-system']">Saiba Mais</a>
            </button>
        </div>
    </div>
    <div class="card card-green">
        <i class="fa-solid fa-globe"></i>
        <p>Veja organograma de funcionamento do sistema.</p>
        <div class="button-container">
            <button>
                <a (click)="execute()" [routerLink]="['/solutions/chart']">Saiba Mais</a>
            </button>
        </div>
    </div>
    <div class="card card-blue">
        <i class="fa-solid fa-flag"></i>
        <p>Conheça mais sobre a Soft Clever.</p>
        <div class="button-container">
            <button>
                <a (click)="execute()" [routerLink]="['/about']">Saiba Mais</a>
            </button>
        </div>
    </div>
</section>
