.banner {
  width: 100%;
  height: 18.8125rem;

  display: flex;
  align-items: center;
  
  background-color: #2C5870;

  h1 {
    margin-left: 64px;

    color: #fff;
  }
}

.text-section {
  margin: 2rem ;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-section ul {
  margin: 2rem 3rem;
}

.text-section ul li {
  margin: 1rem 0;
}

