<main>
    <app-top-page-content>
        <h1>{{ title }}</h1>
        <p>Pagar - Receber - Boletos - Bancos</p>
    </app-top-page-content>

    <section class="banner">
        <div class="left">
            <img src="../../../../assets/images/webp/Financeiro.webp" alt="">
        </div>
    
        <div class="right">
            <div>
                <ul class="list-top">
                   
                   <p>
                    Contas a pagar, receber e fluxo
                    de caixa...</p>
                </ul>
            </div>
            <button><a href="#">Solicite Contato ou Agende uma Demonstração</a></button>
        </div>
    </section>

    <section id="videos">
        <app-videos-presentation></app-videos-presentation>

        <div class="buttons">
            <button><a href="#">Apresentação das Soluções</a></button>
            <button><a href="#">Vídeos Demonstrativos</a></button>
        </div>
    </section>

    <section>
        <p>
            Gerencie seu contas a receber e sua cobrança</p>
        <ul class="list-bottom">
            <li>Controle de cobrança bancária - BOLETOS</li>
            <li>Lançamento automático dos títulos a partir do pedido de venda ou da nfe</li>
            <li>Lançamentos de recebimentos estimados ou reais</li>
            <li>Recebimentos parciais</li>
            <li>Controle de cheques recebidos, repassados ou depositados</li>
            <li>Projeção de recebimentos futuros</li>
            <li>Vínculo do título;</li>
            <li>Departamento</li>
            <li>Conta corrente</li>
            <li>Cheque</li>
            <li>Conta contábil</li>
            <li>Impressão de boletos com ou sem registro de qualquer banco</li>
            <li>Envio de arquivo de remessa para o banco</li>
            <li>Análise do arquivo de retorno do banco</li>
            <li>Baixa automática do título</li>
            <li>Geração e controle de títulos vinculados</li>
            <li>Geração automática da conciliação bancária após baixa do título</li>
            <li>Filtros diversos</li>
            <li>Relatórios;</li>
            <li>Títulos em aberto</li>
            <li>Títulos recebidos</li>
            <li>Listagens sob filtro atual</li>
            <li>Relatórios diversos</li>
        </ul>
    </section>
    <section>
        <p>
            Gerencie seu contas a pagar, fluxo de caixa e conta corrente</p>
        <ul class="list-bottom">
            <li>Integração de pagamentos bancários - SISPAG</li>
            <li>Lançamento automático a partir do pedido de compra ou nota de entrada</li>
            <li>Lançamento de outras despesas (avulsas)</li>
            <li>Lançamento de contas estimadas ou reais</li>
            <li>Vínculo do título;</li>
            <li>Conta contábil (inclusive associada a contabilidade)</li>
            <li>Centro de custos</li>
            <li>Departamento</li>
            <li>Conta corrente</li>
            <li>Cheques</li>
            <li>Projeção de novas despesas</li>
            <li>Registro do pagamento individual ou sob filtro</li>
            <li>Geração de fluxo de caixa (pagar, receber e c/c)</li>
            <li>Previsão orçamentária (pagar x receber)</li>
            <li>Possibilidade de metas orçamentárias por conta contábil ou centro de custos</li>
            <li>Geração de mapas por período    </li>
            <li>Controle de movimentação bancária</li>
            <li>Controle de saldos bancários</li>
            <li>Transferências entre contas correntes</li>
            <li>Conciliação bancária</li>
            <li>Diversos tipos de filtros</li>
            <li>Diversas listagens, inclusive sob filtro</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>

    <section class="content section-videos">
        <h2>Varejo em geral. Versões Desktop e Celular.</h2>

       <div class="box-videos"><!--Line 1--> 
            <div class="video">
                <p>Contas a pagar - Apresentação dos recursos em pouco mais de 01 minuto</p>
                <iframe class="iframe-in-box" width="600" height="357" src="https://www.youtube.com/embed/0_5mjoPIBeg" title="Sistema ERP - Contas a pagar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Contas a receber - Apresentação dos recursos em pouco mais de 01 minuto</p>
                <iframe class="iframe-in-box" width="600" height="357" src="https://www.youtube.com/embed/NqIOoDPmuVc" title="Sistema ERP - Contas a receber" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Movimentações Bancarias - Apresentação dos recursos em pouco mais de 01 minuto</p>
                <iframe class="iframe-in-box" width="600" height="357" src="https://www.youtube.com/embed/l9nSJLuYhbU" title="Sistema ERP - Movimentação Bancaria" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        
    </section>

    <section>
        <app-services-category></app-services-category>
        <app-cards-category-navigation></app-cards-category-navigation>
    </section>
</main>