<main>
    <app-solutions-title>
        <h1 class="title-top">Sírius ERP – Cadastro de Clientes</h1>
    </app-solutions-title>

    <app-reduced-top-content>
        <img src="assets/images/webp/costumers.webp" alt="imagem de um notebook com um onograma como tela de fundo" class="image">
        <h2 class="right-title">
            Controle completo de seus clientes.
        </h2>
    </app-reduced-top-content>

    <app-videos-presentation></app-videos-presentation>

    <section class="costumers-description">
        <h2>Cadastre seus clientes</h2>
        <ul type="disc">
            <li>Alguns recursos do módulo:</li>
            <li>Endereço de cobrança</li>
            <li>Endereço de entrega</li>
            <li>Cadastro de diversos locais de entrega para o mesmo cliente</li>
            <li>Limite de crédito</li>
            <li>Bloqueio do cliente</li>
            <li>Vínculo com vendedor</li>
            <li>Vínculo com transportadora</li>
            <li>Vínculo com tabela de preço</li>
            <li>Mini CRM para registro de contatos com o cliente</li>
            <li>Conta corrente financeira do cliente</li>
            <li>Verificação de CNPJ, CPF e Inscrição Estadual</li>
            <li>Carregamento automático do endereço a partir do CEP</li>
            <li>Carregamento automático dos dados cadastrais a partir do CNPJ</li>
            <li>Impressão:</li>
            <li>Imprima etiquetas utilizando os dados cadastrais de seus clientes</li>
            <li>Faça diversos relatórios  utilizando os dados de clientes cadastrados. Alguns relatórios podem ser gerados a partir do filtro escolhido</li>
            <li>Filtros:</li>
            <li>CNPJ</li>
            <li>Endereço</li>
            <li>Razão social</li>
            <li>São aproximadamente 30 opções de filtragens além da filtragem composta.</li>
            <li>Sem contrato de fidelidade para planos mensais.</li>
        </ul>
    </section>

    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>
