.costumers-description {
  width: 80%;

  margin: 1rem auto;

  h2 {
    margin-bottom: 1rem;

    font-size: 24px;

    font-weight: 500;

    text-transform: uppercase;
  }

  ul {
    margin-left: 16px;

    li {
      font-size: 16px;

      line-height: 2rem;
    }
  }
}
