<nav
  class="solutions-container"
  (click)="clickEvent()"
  [ngClass]="{ active: toggle }"
>
  <div class="left-solutions">
    <div class="solutions-left-list">
      <h2>SOLUÇÕES</h2>
      <ul>
        <li class="urlsPages">
          <a
            [routerLink]="['/presentation-solutions']"
            (click)="clickToClose()"
          >
            <p>Apresentação das Soluções</p>
          </a>
        </li>
        <li class="urlsPages">
          <a
            [routerLink]="['/sat']"
            (click)="clickToClose()"
          >
            <p>SAT Fiscal</p>
          </a>
        </li>
        <li class="urlsPages">
          <a [routerLink]="['/nfc-e']" (click)="clickToClose()">
            <p>NFC-e</p>
          </a>
        </li>
        <li class="urlsPages">
          <a [routerLink]="['/nota-fiscal-eletronica-nfe']" (click)="clickToClose()">
            <p>NFE</p>
          </a>
        </li>
        <li class="urlsPages">
          <a
            [routerLink]="['/notas-fiscais-de-servicos']"
            (click)="clickToClose()"
          >
            <p>Notas Fiscais de Serviços</p>
          </a>
        </li>
        <li class="urlsPages">
          <a
            [routerLink]="['/impostos-e-fiscal-sped']"
            (click)="clickToClose()"
          >
            <p>Impostos e Fiscal – SPED</p>
          </a>
        </li>
        <li class="urlsPages">
          <a
            [routerLink]="['/restaurante']"
            (click)="clickToClose()"
          >
            <p>Restaurante – Comanda – Delivery – Mesas das Soluções</p>
          </a>
        </li>
        <li class="urlsPages">
          <a [routerLink]="['/orcamento-e-venda']" (click)="clickToClose()">
            <p>Atacado > Pedidos de Venda – Liberação – Expedição</p>
          </a>
        </li>
        <li class="urlsPages">
          <a [routerLink]="['/pre-venda']" (click)="clickToClose()">
            <p>Balcão</p>
          </a>
        </li>
        <li class="urlsPages">
          <a [routerLink]="['/orcamento']" (click)="clickToClose()">
            <p>Orçamento de Venda – Produtos e Serviços.</p>
          </a>
        </li>
        <li class="urlsPages">
          <a
            [routerLink]="['/conhecimento-transporte-eletronico']"
            (click)="clickToClose()"
          >
            <p>Conhecimento Transporte Eletrônico</p>
          </a>
        </li>
        <li class="urlsPages">
          <a [routerLink]="['/compras']" (click)="clickToClose()">
            <p>Compras – Pedidos e Notas de Entrada</p>
          </a>
        </li>
        <li class="urlsPages">
          <a [routerLink]="['/financeiro']" (click)="clickToClose()">
            <p>Financeiro – Pagar – Receber – Boletos – Bancos</p>
          </a>
        </li>
        <li class="urlsPages">
          <a
            [routerLink]="['/confeccao']"
            (click)="clickToClose()"
          >
            <p>Produção Padrão e Produção Confecções</p>
          </a>
        </li>
        <li class="urlsPages">
          <a
            [routerLink]="['/ordens-de-servicos']"
            (click)="clickToClose()"
          >
            <p>Ordens de Serviços</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-solutions">
    <div class="solutions-right-list">
      <div class="solutions-right">
        <h2>DEMONSTRAÇÕES</h2>
        <ul>
          <li class="urlsPages">
            <a
              [routerLink]="['/presentation']"
              (click)="clickToClose()"
            >
              <p>Vídeos Demonstrativos</p>
            </a>
          </li>
          <li class="urlsPages">
            <a [routerLink]="['/organograma-do-sistema']" (click)="clickToClose()">
              <p>Organograma do Sistema</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="solutions-right">
        <h2>ERP</h2>
        <ul>
          <li class="urlsPages">
            <a
              [routerLink]="['/sirius-erp']"
              (click)="clickToClose()"
            >
              <p>Sistema ERP</p>
            </a>
          </li>
          <li class="urlsPages">
            <a [routerLink]="['/sped-fiscal-icmsipi-bloco-k']" (click)="clickToClose()">
              <p>Sped Fiscal ICMS/IPI – Bloco K</p>
            </a>
          </li>
          <li class="urlsPages">
            <a
              [routerLink]="['/software-erp']"
              (click)="clickToClose()"
            >
              <p>Software ERP</p>
            </a>
          </li>
          <li class="urlsPages">
            <a
              [routerLink]="['/software-de-gestao-empresarial']"
              (click)="clickToClose()"
            >
              <p>Sistema / Software de Gestão Empresarial</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="solutions-right">
        <h2>Aparelho</h2>
        <ul>
          <li class="urlsPages">
            <a
              [routerLink]="['/equipamento-sat-2']"
              (click)="clickToClose()"
            >
              <p>Equipamento SAT</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
