<nav class="solutions-container">
    <div class="left-solutions">
        <div class="solutions-left-list">
            <h2>SOLUÇÕES</h2>
            <ul>
                <li><p>Apresentação das Soluções</p></li>
                <li><p>SAT Fiscal</p></li>
                <li><p>Equipamento SAT</p></li>
                <li><p>NFC-e</p></li>
                <li><p>NFE</p></li>
                <li><p>Notas Fiscais de Serviços</p></li>
                <li><p>Impostos e Fiscal – SPED</p></li>
                <li><p>Restaurante – Comanda – Delivery – Mesas das Soluções</p></li>
                <li><p>Atacado >  Pedidos de Venda – Liberação – Expedição</p></li>
                <li><p>Balcão</p></li>
                <li><p>Orçamento de Venda – Produtos e Serviços.</p></li>
                <li><p>Conhecimento Transporte Eletrônico</p></li>
                <li><p>Compras – Pedidos e Notas de Entrada</p></li>
                <li><p>Financeiro – Pagar – Receber – Boletos – Bancos</p></li>
                <li><p>Produção Padrão e Produção</p></li>
                <li><p>Ordens de Serviços</p></li>
            </ul>
        </div>
    </div>
    <div class="right-solutions">
        <div class="solutions-right-list">
            <div class="solutions-right">
                <h2>DEMONSTRAÇÕES</h2>
                <ul>
                    <li><p>Vídeos Demonstrativos</p></li>
                    <li><p>Organograma do Sistema</p></li>
                </ul>
            </div>
            <div class="solutions-right">
                <h2>ERP</h2>
                <ul>
                    <li><p>Sistema ERP</p></li>
                    <li><p>Sped Fiscal ICMS/IPI – Bloco K</p></li>
                    <li><p>Software ERP</p></li>
                    <li><p>Sistema / Software de Gestão Empresarial</p></li>
                </ul>
            </div>
            <div class="solutions-right">
                <h2>Aparelho</h2>
                <ul>
                    <li><p>Equipamento SAT</p></li>
                </ul>
            </div>
        </div>
    </div>
</nav>