.content {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.sell-itens {
    display: flex;
    flex-direction: column;

    >h2 {
        margin: 0 0 12px 7%;
    }

    .sell-list {
        margin-left: 10%;

        >li {
            line-height: 2rem;

        }
    }
}
