<main>
    <app-solutions-title>SAT – Pré Venda – Delivery – Comandas</app-solutions-title>

    <section class="banner">
        <div class="left">
            <img src="../../../../assets/images/png/aparelhos.png" alt="">
            <img src="../../../../assets/images/jpg/Desenho-com-texto-pg-solucoes.jpg" alt="">

            <div class="buttons">
                <button><a id="b1" href="#">Solicite contato ou agende uma demostração</a></button>
            </div>
        </div>
        <app-solutions-top-content></app-solutions-top-content>
    </section>

    <app-videos-presentation></app-videos-presentation>

    <section class="content">
        <div class="box-videos">
            <div class="video-main">
                <h4>Sirius S@T Fiscal – Varejo em Geral</h4>
                <p>Conheça nossa ferramenta para a emissão do Cupom Fiscal S@T em apenas 01 minuto.</p>
                <iframe width="590" height="332" src="https://www.youtube.com/embed/xp3S290pqys"
                    title="Sirius S@T Clean" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video-main">
                <h4>Sirius Pré-Venda – Varejo em Geral</h4>
                <p>Conheça nossa ferramenta auxiliar de venda em apenas 01 minuto.</p>
                <iframe width="590" height="332" src="https://www.youtube.com/embed/K37D-o6mZJA"
                    title="Sirius Pré - Venda" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="content section-videos">
        <h2>Varejo em geral. Versões Desktop e Celular.</h2>

        <div class="box-videos">

            <div class="video">
                <p>Conheça o Sirius S@T Fiscal em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="360" height="202,50"
                    src="https://www.youtube.com/embed/6xbFubL6nPA?rel=0&showinfo=0" title="Sirius S@T" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <p>Conheça o Sirius S@T Fiscal em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="360" height="202,50"
                    src="https://www.youtube.com/embed/ArJ-L_V403A" title="Sirius S@T" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Pré-venda em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="360" height="202,50"
                    src="https://www.youtube.com/embed/K37D-o6mZJA" title="Sirius Pré - Venda" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius APP Comandas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="360" height="202,50"
                    src="https://www.youtube.com/embed/fJ-ev8rDFJY" title="Comercial Sirius APP Comandas"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video">
                <p>Conheça o Sirius APP Pré-Vendas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="360" height="202,50"
                    src="https://www.youtube.com/embed/nKskQcPUWIA" title="Sirius APP Pré-Vendas" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius App Cielo Lio em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="360" height="202,50"
                    src="https://www.youtube.com/embed/l-7oXgbkovs" title="Sirius Cielo Lio" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sirius Web Lojas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="360" height="202,50"
                    src="https://www.youtube.com/embed/tZ72ScEyDzY" title="Sirius Web Lojas" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="sell-itens">
        <ul class="sell-list">
            <h2>Vendas no Varejo (Loja, Delivery e Comandas)</h2>
            <li>Geração de Cupom Fiscal Eletrônico SAT</li>
            <li>Geração de Nota Fiscal de Consumidor Eletrônica NFC-e</li>
            <li>Preparado para atender a lei da transparência</li>
            <li>Geração de Nota Fiscal Paulista</li>
            <li>Integração com TEF (cartão de crédito)</li>
            <li>Rotinas de abertura e fechamento de caixa</li>
            <li>Rotinas de sangrias e reforço de caixa</li>
            <li>Venda expressa</li>
            <li>Encontre seus produtos por código interno, Ean13 (barras) ou descrição do produto</li>
            <li>Permite escolher listas de preços ou tabela de descontos</li>
            <li>Consulta de preços</li>
            <li>Seleção de:</li>
            <li>Formas de pagamentos</li>
            <li>Prazos de pagamentos</li>
            <li>Vendedor</li>
            <li>Forma de entrega</li>
            <li>Totalmente integrado com:</li>
            <li>Estoque</li>
            <li>Financeiro (módulo opcional)</li>
            <li>Movimentação financeira do cliente (módulo opcional)</li>
            <li>Controle de comissões (módulo opcional)</li>
        </ul>
    </section>
    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>