<main>
  <app-top-content>

    <h1 class="title">SAT – Pré Venda – Delivery – Comandas</h1>

    <!--Side Images-->
    <img class="image-top" src="assets/images/webp/aparelhos.webp"
      alt="Equipamento para venda, computador com tela embutida junto ao equipamento sat e um teclado com tres balões a direita da foto o primeiro escrito SAT, o segundo logo abaixo do primeiro esta escrito Nota Fiscal Paulista, e o ultimo balão abaixo do segundo contém uma imagem de uma maquininha de cartão">
    <img class="image-bottom" src="assets/images/webp/Desenho-com-texto-pg-solucoes.webp"
      alt="Uma mulher cartoon, loira, vestindo avental vermelho e roupas brancas, de cabelo preso, no centro da imagem, com diversas soluções em sua volta. Acima uma nuvem e computadores ligados a ela escrito: 'Gestão de Loja Via Internet', seguindo no sentido horário uma impressora de nota fiscal e um servidor escrito: 'Integrado com S@T Fiscal e Nota Fiscal Paulista'">

    <!--Right Content-->
    <h2 class="right-title">Aparelhos</h2>

  </app-top-content>

  <app-videos-presentation></app-videos-presentation>

  <section class="content">
    <div class="box-videos">
      <div class="video-main">
        <h4>Sirius S@T Fiscal – Varejo em Geral</h4>
        <p>Conheça nossa ferramenta para a emissão do Cupom Fiscal S@T em apenas 01 minuto.</p>
        <iframe src="https://www.youtube.com/embed/xp3S290pqys" title="Sirius S@T Clean" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="video-main">
        <h4>Sirius Pré-Venda – Varejo em Geral</h4>
        <p>Conheça nossa ferramenta auxiliar de venda em apenas 01 minuto.</p>
        <iframe src="https://www.youtube.com/embed/K37D-o6mZJA" title="Sirius Pré - Venda" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </section>

  <section class="content section-videos">
    <h2>Varejo em geral. Versões Desktop e Celular.</h2>

    <app-videos-sat></app-videos-sat>
  </section>

  <app-buttons-to-know-more></app-buttons-to-know-more>

  <section class="sell-itens">
    <h2>Vendas no Varejo (Loja, Delivery e Comandas)</h2>
    <ul class="sell-list">
      <li>Geração de Cupom Fiscal Eletrônico SAT</li>
      <li>Geração de Nota Fiscal de Consumidor Eletrônica NFC-e</li>
      <li>Preparado para atender a lei da transparência</li>
      <li>Geração de Nota Fiscal Paulista</li>
      <li>Integração com TEF (cartão de crédito)</li>
      <li>Rotinas de abertura e fechamento de caixa</li>
      <li>Rotinas de sangrias e reforço de caixa</li>
      <li>Venda expressa</li>
      <li>Encontre seus produtos por código interno, Ean13 (barras) ou descrição do produto</li>
      <li>Permite escolher listas de preços ou tabela de descontos</li>
      <li>Consulta de preços</li>
      <li>Seleção de:</li>
      <li>Formas de pagamentos</li>
      <li>Prazos de pagamentos</li>
      <li>Vendedor</li>
      <li>Forma de entrega</li>
      <li>Totalmente integrado com:</li>
      <li>Estoque</li>
      <li>Financeiro (módulo opcional)</li>
      <li>Movimentação financeira do cliente (módulo opcional)</li>
      <li>Controle de comissões (módulo opcional)</li>
    </ul>
  </section>

  <app-services-category></app-services-category>
  <app-cards-category-navigation></app-cards-category-navigation>

  <app-irrelevant-text>
    <p class="text">Sistema SAT Fiscal</p>

    <p class="text"> O sistema SAT fiscal é um equipamento/sistema que transmite e autentica os cupons fiscais eletrônicos,
      registrando todas as operações comerciais na área de varejo. Além do mais, esse sistema substitui os equipamentos
      antigos utilizados para a mesma finalidade e garante melhor desenvolvimento e contribuição para o mercado.</p>

    <p class="text">Com a implantação do sistema SAT fiscal, você adquire mais organização e agilidade perante essa atividade, que
      fica responsável por encaminhar automaticamente esses cupons fiscais eletrônicos à SEFAZ, sendo item obrigatório
      em toda a área de varejo. A Soft Clever Informática fornece esse sistema, facilitando a integração com a sua
      empresa.
    </p>

    <p class="text">
      Esse sistema SAT fiscal auxilia seus usuários a localizarem qualquer que for o seu documento fiscal, diminuindo
      também a preocupação com relação as obrigações no ramo. O sistema SAT é instalado e só existe por meio digital, ou
      seja, é necessário que uma empresa de respeito e devidamente homologada na área fique responsável por fornecer e
      instalar esse sistema.
    </p>

    <p class="text">
      Por que utilizar o sistema SAT fiscal?
    </p>

    <p class="text">
      Esse sistema armazena e transmite documentos fiscais que circulam na área de varejo e sua validade é resumida no
      sistema SAT fiscal por meio de certificado digital. Além do mais, o cliente receberá um extrato, que é a sua forma
      de comprovar a operação realizada. Sendo assim, vemos o quanto é importante a utilização desse sistema no ramo de
      varejo.
    </p>

    <p class="text">
      O sistema SAT fiscal fornece redução dos custos e unifica as obrigações dos consumidores em apenas um local. Além
      do mais, apresenta autenticidade e garantia de funcionamento, pois integra com excelência esse sistema a diversos
      outros, garantindo melhor performance e desempenho para todo o ramo de varejo no geral.
    </p>

    <p class="text">
      Portanto, um sistema SAT fiscal foca nas melhorias e condições das atividades de uma empresa, além de fazer com
      que ela obtenha resultados mais rápidos e precisos, contribuindo para a otimização do tempo de serviço e fazendo
      com que tudo saia de acordo com a lei. Para essas e demais vantagens, entre em contato com a Soft Clever
      Informática.
    </p>

    <p class="text">
      A Soft Clever Informática e suas diversas vantagens
    </p>

    <p class="text">
      A empresa Soft Clever Informática é especializada em sistema SAT fiscal, pois entende as necessidades de cada
      cliente e fornece os melhores benefícios para todos os seus usuários, garantindo suporte de qualidade, de forma
      remota e um atendimento de excelência, não importando as necessidades de sua empresa e a sua localização.
    </p>

    <p class="text">

      Se você está em busca de um sistema de qualidade e que fornece maior segurança, entre em contato com a Soft Clever
      Informática!
    </p>
  </app-irrelevant-text>
</main>
