<main>
    <app-top-content>

        <h1 class="title">SAT – Pré Venda – Delivery – Comandas</h1>

        <!--Side Images-->
        <img class="image-top" src="assets/images/webp/aparelhos.webp"
            alt="Equipamento para venda, computador com tela embutida junto ao equipamento sat e um teclado com tres balões a direita da foto o primeiro escrito SAT, o segundo logo abaixo do primeiro esta escrito Nota Fiscal Paulista, e o ultimo balão abaixo do segundo contém uma imagem de uma maquininha de cartão">
        <img class="image-bottom" src="assets/images/webp/Desenho-com-texto-pg-solucoes.webp"
            alt="Uma mulher cartoon, loira, vestindo avental vermelho e roupas brancas, de cabelo preso, no centro da imagem, com diversas soluções em sua volta. Acima uma nuvem e computadores ligados a ela escrito: 'Gestão de Loja Via Internet', seguindo no sentido horário uma impressora de nota fiscal e um servidor escrito: 'Integrado com S@T Fiscal e Nota Fiscal Paulista'">

        <!--Right Content-->
        <h2 class="right-title">Aparelhos</h2>

    </app-top-content>

    <app-videos-presentation></app-videos-presentation>

    <section class="content">
        <div class="box-videos">
            <div class="video-main">
                <h4>Sirius S@T Fiscal – Varejo em Geral</h4>
                <p>Conheça nossa ferramenta para a emissão do Cupom Fiscal S@T em apenas 01 minuto.</p>
                <iframe src="https://www.youtube.com/embed/xp3S290pqys"
                    title="Sirius S@T Clean" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="video-main">
                <h4>Sirius Pré-Venda – Varejo em Geral</h4>
                <p>Conheça nossa ferramenta auxiliar de venda em apenas 01 minuto.</p>
                <iframe src="https://www.youtube.com/embed/K37D-o6mZJA"
                    title="Sirius Pré - Venda" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="content section-videos">
        <h2>Varejo em geral. Versões Desktop e Celular.</h2>

        <app-videos-sat></app-videos-sat>
    </section>

    <app-buttons-to-know-more></app-buttons-to-know-more>

    <section class="sell-itens">
        <h2>Vendas no Varejo (Loja, Delivery e Comandas)</h2>
        <ul class="sell-list">
            <li>Geração de Cupom Fiscal Eletrônico SAT</li>
            <li>Geração de Nota Fiscal de Consumidor Eletrônica NFC-e</li>
            <li>Preparado para atender a lei da transparência</li>
            <li>Geração de Nota Fiscal Paulista</li>
            <li>Integração com TEF (cartão de crédito)</li>
            <li>Rotinas de abertura e fechamento de caixa</li>
            <li>Rotinas de sangrias e reforço de caixa</li>
            <li>Venda expressa</li>
            <li>Encontre seus produtos por código interno, Ean13 (barras) ou descrição do produto</li>
            <li>Permite escolher listas de preços ou tabela de descontos</li>
            <li>Consulta de preços</li>
            <li>Seleção de:</li>
            <li>Formas de pagamentos</li>
            <li>Prazos de pagamentos</li>
            <li>Vendedor</li>
            <li>Forma de entrega</li>
            <li>Totalmente integrado com:</li>
            <li>Estoque</li>
            <li>Financeiro (módulo opcional)</li>
            <li>Movimentação financeira do cliente (módulo opcional)</li>
            <li>Controle de comissões (módulo opcional)</li>
        </ul>
    </section>

    <app-services-category></app-services-category>
    <app-cards-category-navigation></app-cards-category-navigation>
</main>
