<main>
    

    <section class="content">
      <h2>Apresentação das Soluções</h2>
      <div class="box-videos">
        <div class="video-main">
            <p>Conheça nossos produtos em apenas 01 minuto.</p>
            <iframe width="590" height="312" src="https://www.youtube.com/embed/GwttGRBPf1M" title="Sistema Sat Fiscal / cupom fiscal eletronico - Sistema ERP - SAT - Sirius ERP" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-main">
            <p>Soft Clever na mídia - Reportagem exibida na Band News</p>
            <iframe width="590" height="312" src="https://www.youtube.com/embed/83Pxy3TwN2w" title="Soft Clever na mídia - Reportagem exibida na Band News" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>

    <section class="content section-videos">
        <h2>Varejo em geral. Versões Desktop e Celular.</h2>

       <div class="box-videos"><!--Line 1-->
            <div class="video">
                <p>Conheça o Sírius S@T Fiscal em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/ArJ-L_V403A" title="SÍRIUS S@T" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius Pré-venda em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/K37D-o6mZJA" title="Sírius Pré - Venda" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius APP Comandas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/fJ-ev8rDFJY" title="Comercial Sirius APP Comandas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="box-videos"><!--Line 2-->
            <div class="video">
                <p>Conheça o Sírius APP Pré-Vendas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/nKskQcPUWIA" title="Sirius APP Pré-Vendas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius App Cielo Lio em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/l-7oXgbkovs" title="Sírius Cielo Lio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius Web Lojas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/tZ72ScEyDzY" title="Sírius Web Lojas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="box-videos"><!--Line 3-->
            <div class="video">
                <p>Conheça o Sírius Delivery em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/KK4mV4Eg5zE" title="Sírius Delivery" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius Desktop Comandas em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/GqklA2-uTWc" title="Sírius Comandas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius Integração Mercado Livre em apenas 01 minuto</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/xvS4Kdo_pbs" title="Sírius Market Place" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="content section-videos">
        <h2>Atacado, Distribuição, Indústria, Serviços e Fiscal.</h2>

       <div class="box-videos"><!--Line 1-->
            <div class="video">
                <p>Conheça o Sírius ERP em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/dML4i1e25do" title="Sírius ERP" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius Show Room em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/Wrt-x3F1KvA" title="Sírius Show Room" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius NF-e em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/1kloOC4_z-M" title="SÍRIUS SOLUÇÕES FISCAIS" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="box-videos"><!--Line 2-->
            <div class="video">
                <p>Conheça o Sírius Sped Fiscal com Bloco K em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/GeVMI39VYqM" title="Sírius Sped Fiscal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius Ordem de Produção em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/uSpSJZyyJCo" title="Ordem de Produção - Nova Versão" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="video">
                <p>Conheça o Sírius Assistência Técnica em apenas 01 minuto.</p>
                <iframe class="iframe-in-box" width="390" height="232" src="https://www.youtube.com/embed/H4qdSEQoRHI" title="Sírius Assistência Técnica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="buttons">
            <button><a id="b1" href="#">Vídeos Demonstrativos</a></button>
            <button><a id="b2" href="#">Fale Conosco Agora  </a></button>
        </div>

    </section>
  </main>
