<footer>
    <section class="footer-container">
        <div class="footer-section">
            <div class="footer-section-title">
                <h2>Institucional</h2>
            </div>
            <nav class="footer-section-navigation">
                <ul>
                    <li>
                        <a [routerLink]="['/about-enterprise']" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <p>A Empresa</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>Soluções</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>Vídeos</p>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/clients']" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <p>Clientes</p>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact']" routerLinkActive="active" ariaCurrentWhenActive="page">
                            <p>Fale Conosco</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-section">
            <div class="footer-section-title">
                <h2>Contato</h2>
            </div>
            <nav class="footer-section-navigation">
                <ul>
                    <li>
                        <a href="#">
                            <p>Rua João Alves Pimenta, 880   Freguesia do Ó - São Paulo/SP</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>softclever@softclever.com.br</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>(11) 3991-3923  / 2361-8334</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>Política de Privacidade</p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer-section">
            <div class="footer-section-title">
                <h2>Redes Sociais</h2>
            </div>
            <nav class="footer-section-navigation">
                <ul class="footer-section-social-media">
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</footer>