<main>
    <section class="top-container">
        <div class="top-text-container">
            <h1>Clientes</h1>
            <p>Nós da Soft Clever temos o intuito de ter sua empresa como membro do nosso grupo e não somente como mais
                um cliente.
            </p>
        </div>
        <div class="top-image-container">
            <img src="assets/images/png/clientes.png"
                alt="2 empresários, um homem e uma mulher, ambos de ternos e roupas sociais, apertando a mão um do outro">
        </div>
    </section>
    <section class="enterprise-partnership">
        <div class="partnership-title">
            <h2>Conheça abaixo alguns de nossos clientes.</h2>
            <h2>São milhares de clientes atendidos.</h2>
            <h2>São aproximadamente 12 mil usuários cadastrados em nossa base de dados.</h2>
        </div>
        <div class="partnership-logos">
            <div class="partnership-logo">
                <img src="assets/images/jpg/A.C.I..jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/AIA-EMBALAGENS.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/Albus-Dente.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ALESSANDRO-BUENO.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ART-VENITE-COMERCIO.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BAX-INDUSTRIA.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BINELLI.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/Bollatel.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BORRIES-DO-BRASIL.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BRUMED.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/COMERCIO-E-INDUSTRIA-RAMSOR.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/COOPERPEÇAS-DISTRIBUIDORA.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/CSP-INDUSTRIA-E-COMERCIO-DE-ESFERAS.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/CVI-COMERCIO.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/DELLY-COM-DE-ART.-PARA-TAPECARIA-LT.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/DUNK-BEACH-INDUSTRIA-E-COMERCIO-DE-CONFECCOES-EIRE.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/Editora-Schuartz.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ELISETE-RODRIGUES-ALENCAR.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/EMPIFORT-IND.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ENVELOPACK-IND.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/EUROMETAL-RECICLAGEM.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/FRANGARIA.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/INDUSTRIA-E-COMERCIO-DE-ROUPAS-INFINI.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/IRMAOS-BOZZA-CIA.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/JR-GRAPHIKS-LTDA-ME.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/KLAWA-JOIAS-E-SEMI.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/L-BABY-CONFECCOES.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/LE-GALO-COMERCIAL.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/LOJAS-PROLAR.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MAINARD.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MARCONATTO-URTADO.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MAUHALUB-LUBRIFICANTES.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MMAN-DECORAÇOES-INDUSTRIA-E-TAPEÇARIA-LTDA-ME.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MOTO-ATACAMA.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/NOVA-MOTOR-COMERCIO.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/NUTRAFORCE.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/PLAST-OIL-INDUSTRIA-E-COMERCIO-DE-EMBALAGENS-PLAST.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/PONTO-DO-PADEIRO.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/pontual-estetica.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/PONTUAL-POLIMEROS.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/portofino.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/R.V.C-AUTOMACAO.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/RAMOS-PRODUTOS-DE-LIMPEZA-LTDA-ME.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/RV-NEGOCIOS-E-PRODUTOS-GRAFICOS.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/SCARFM.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/SCHOTT-GASES.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/TECTHANE-IND.jpg" alt="">
            </div>
            
        </div>
    </section>
</main>