<main>
    <app-headline>
        <span class="background-color">#F8B02C</span>

        <h1 class="headline-title">Clientes</h1>
        <p class="headline-description">Nós da Soft Clever temos o intuito de ter sua empresa como membro do nosso grupo
            e não somente como mais
            um cliente.
        </p>
        <img class="headline-image" src="assets/images/webp/clients.webp"
            alt="2 empresários, um homem e uma mulher, ambos de ternos e roupas sociais, apertando a mão um do outro">
    </app-headline>

    <section class="enterprise-partnership">
        <div class="partnership-title">
            <h2>Conheça abaixo alguns de nossos clientes.</h2>
            <h2>São milhares de clientes atendidos.</h2>
            <h2>São aproximadamente 12 mil usuários cadastrados em nossa base de dados.</h2>
        </div>
        <div class="partnership-logos">
            <div class="partnership-logo">
                <img src="assets/images/jpg/A.C.I..jpg" alt="imagem logo da empresa ACI segurança contra incêndios">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/AIA-EMBALAGENS.jpg"
                    alt="logo da empresa AIA Embalagens, sendo um triangulo com as letras AIA e abaixo escrito Embalagens">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/Albus-Dente.jpg" alt="logo da empresa Albus Dente">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ALESSANDRO-BUENO.jpg" alt="logo da empresa Som Car Acessórios Automotivos">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ART-VENITE-COMERCIO.jpg" alt="logo da empresa Art Venice">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BAX-INDUSTRIA.jpg" alt="logo da empresa bax">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BINELLI.jpg" alt="logo da empresa BINELLI">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/Bollatel.jpg" alt="logo da empresa Bollatel">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BORRIES-DO-BRASIL.jpg" alt="logo da empresa Borries do Brasil">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/BRUMED.jpg" alt="">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/COMERCIO-E-INDUSTRIA-RAMSOR.jpg"
                    alt="logo da empresa Comercio e Industria Ramsor">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/COOPERPEÇAS-DISTRIBUIDORA.jpg"
                    alt="logo da empresa Cooperpeças Distribuidora">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/CSP-INDUSTRIA-E-COMERCIO-DE-ESFERAS.jpg"
                    alt="logo da empresa CSP Industria e Comercio de Esferas">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/CVI-COMERCIO.jpg" alt="CVI Comercio">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/DELLY-COM-DE-ART.-PARA-TAPECARIA-LT.jpg"
                    alt="logo da empresa Delly com de Art">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/DUNK-BEACH-INDUSTRIA-E-COMERCIO-DE-CONFECCOES-EIRE.jpg"
                    alt="logo da empresa Dunk Beach Industria">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/Editora-Schuartz.jpg" alt="logo da empresa Editora Schuartz">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ELISETE-RODRIGUES-ALENCAR.jpg"
                    alt="logo da empresa Elisete Rodriguez Alencar">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/EMPIFORT-IND.jpg" alt="Logo da empresa Empifort">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/ENVELOPACK-IND.jpg" alt="logo da empresa Envelopack">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/EUROMETAL-RECICLAGEM.jpg" alt="logo da empresa Eurometal Reciclagem">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/FRANGARIA.jpg" alt="logo da empresa Frangaria">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/INDUSTRIA-E-COMERCIO-DE-ROUPAS-INFINI.jpg"
                    alt="logo da empresa Industria e Comercio de Roupas">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/IRMAOS-BOZZA-CIA.jpg" alt="logo da empresa Irmãos Bozza ">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/JR-GRAPHIKS-LTDA-ME.jpg" alt="logo da empresa Jr Graphiks Ltda">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/KLAWA-JOIAS-E-SEMI.jpg"
                    alt="logo da empresa logo da empresa Klawa Joias e Semi">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/L-BABY-CONFECCOES.jpg" alt="logo da empresa L Baby Confecções">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/LE-GALO-COMERCIAL.jpg" alt="Logo da empresa Le-Galo Comercial">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/LOJAS-PROLAR.jpg" alt="logo da empresa Lojas Prolar">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MAINARD.jpg" alt="logo da empresa Mainard">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MARCONATTO-URTADO.jpg" alt="Marconatto">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MAUHALUB-LUBRIFICANTES.jpg" alt="Mauhalub Lubrificantes">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MMAN-DECORAÇOES-INDUSTRIA-E-TAPEÇARIA-LTDA-ME.jpg"
                    alt="logo da empresa MMan Decorações Industria e Tapeçaria">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/MOTO-ATACAMA.jpg" alt="logo da empresa Moto Atacama">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/NOVA-MOTOR-COMERCIO.jpg" alt="logo da empresa Nova Motor Comercio">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/NUTRAFORCE.jpg" alt="logo da empresa Nutraforce">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/PLAST-OIL-INDUSTRIA-E-COMERCIO-DE-EMBALAGENS-PLAST.jpg"
                    alt="logo da empresa Plast Oil Industria e Comercio de Embalagens">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/PONTO-DO-PADEIRO.jpg" alt="logo da empresa Ponto do Padeiro">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/pontual-estetica.jpg" alt="logo da empresa Pontual Estética">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/PONTUAL-POLIMEROS.jpg" alt="logo da empresa Pontual Polímeros">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/portofino.jpg" alt="logo da empresa Portofino">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/R.V.C-AUTOMACAO.jpg" alt="logo da empresa R.V.C. Automação">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/RAMOS-PRODUTOS-DE-LIMPEZA-LTDA-ME.jpg"
                    alt="logo da empresa Ramos Produtos de Limpeza">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/RV-NEGOCIOS-E-PRODUTOS-GRAFICOS.jpg"
                    alt="logo da empresa Rv Negócios e Produtos Graficos">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/SCARFM.jpg" alt="logo da empresa Scarfm">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/SCHOTT-GASES.jpg" alt="logo da empresa Schott Gases">
            </div>
            <div class="partnership-logo">
                <img src="assets/images/jpg/TECTHANE-IND.jpg" alt="Tecthane Ind">
            </div>

        </div>
    </section>
</main>