<section class="services-category-container">
    <div class="category-container">
        <div class="category">
            <img width="100%" height="100%" src="assets/images/webp/solutions.webp" alt="Imagem de uma loja representando os varejos que necessitam de facilidade e velocidade nos diversos setores">
            <h2>VAREJO</h2>
            <p>Emissor S@T fiscal e NFC-e com integração aos módulos Pré-venda, Delivery, Comandas, Sirius App Comandas e Pré-venda, Sírius Web Lojas, Sírius Market Place e cartão de crédito/TEF.</p>
        </div>
        <div class="category">
            <img width="100%" height="100%" src="assets/images/webp/wholesale.webp" alt="Imagem de um atacado ou distribuidora que representa a possibilidade de escalar seus negócios">
            <h2>ATACADO E DISTRIBUIÇÃO</h2>
            <p>NF-e, CT-e, NFS-e, Vendas, Liberação e Expedição de Pedidos, Reserva, Troca/Devolução, Financeiro, Cobrança, Compras e muito mais.</p>
        </div>
        <div class="category">
            <img width="100%" height="100%" src="assets/images/webp/manufacture.webp" alt="Imagem de uma fábrica, demonstrando que até com matéria prima você é capaz de monitorar conosco.">
            <h2>FABRIL</h2>
            <p>Ordens de produção com explosão de matéria prima e lote.</p>
        </div>
        <div class="category">
            <img width="100%" height="100%" src="assets/images/webp/services.webp" alt="Imagem de alguns eletrônicos como tablets e celulares que remetem sobre nossas soluções a possibilidade de usar onde e quando você quiser, até mesmo nos mobiles.">
            <h2>SERVIÇOS</h2>
            <p>Controle Completo de Assistência Técnica.</p>
        </div>
        <div class="category">
            <img width="100%" height="100%" src="assets/images/webp/tax.webp" alt="Imagem de um dashboard com alguns indicadores variando em escala positiva com um homem olhando para este, ao lado uma calculadora e 2 pilhas de moedas, uma contendo 3 moedas e outra contendo 1, representando o roubo estatal via impostos em contrapartida do quanto resta para você e sua empresa, fruto de seu trabalho e conquista pessoal.">
            <h2>FISCAL</h2>
            <p>Sped ICMS, IPI, Pis e Cofins e Bloco K completo.</p>
        </div>
    </div>
</section>
